<div>
  <h2>Agregar Sala de Laboratorio</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Operador/Laboratorios">Salas de Laboratorio</a></li>
    <li class="active">Agregar</li>
  </ol>
  <form autocomplete="off" name="createLabForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="name" class="control-label">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" ng-model="LabAdd.lab.name" ng-trim required>
          <p class="help-block" ng-if="createLabForm.name.$error.required">Nombre requerido.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="seats" class="control-label">Asientos</label>
          <input type="number" class="form-control" id="seats" min="0" name="seats" placeholder="Asientos" ng-model="LabAdd.lab.seats" ng-trim required>
          <p class="help-block" ng-if="createLabForm.seats.$error.required">Cantidad de asientos requerida.</p>
          <p class="help-block" ng-if="createLabForm.seats.$error.number  || createLabForm.seats.$error.min">Ingrese un número positivo.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="appointment_priority">Prioridad para Citas</label>
          <ui-select id="appointment_priority" ng-model="LabAdd.appointment_priority" required>
            <ui-select-match placeholder="Prioridad para Citas">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="priority in LabAdd.priorities | filter: $select.search">
              <span ng-bind-html="priority.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="reservation_priority">Prioridad para Reservaciones</label>
          <ui-select id="reservation_priority" ng-model="LabAdd.reservation_priority" required>
            <ui-select-match placeholder="Prioridad para Reservaciones">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="priority in LabAdd.priorities | filter: $select.search">
              <span ng-bind-html="priority.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <h4><b>Lista de software</b></h4>
    <div class="row">
      <div class="col-md-10 col-xs-10">
        <div class="form-group">
          <input type="text" class="form-control" id="code" placeholder="Buscar Software (Código)" ng-model="LabAdd.softwareCode">
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        <button type="button" class="btn btn-success btn-block" ng-click="LabAdd.searchSoftware()">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Agregar</span>
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" ng-show="LabAdd.software.length > 0">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th style="text-align: center">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="software in LabAdd.slicedSoftware">
            <td>{{ software.code }}</td>
            <td>{{ software.name }}</td>
            <td style="text-align: center">
              <a class='btn btn-info btn-sm action-btn' href="{{'#Operador/Software/' + software.code}}">
                <span class="glyphicon glyphicon-eye-open"></span>
              </a>
              <a href="" class="btn btn-danger btn-sm action-btn" ng-click="LabAdd.deleteSoftware(software.code)">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" ng-show="LabAdd.software.length > LabAdd.limit">
      <div class="col-xs-12 col-md-12 pagination">
        <pagination
          ng-model="LabAdd.page" items-per-page="LabAdd.limit" total-items="LabAdd.software.length"
          ng-change="LabAdd.sliceSoftware()" max-size="5" boundary-links="true" rotate="true"
          previous-text="<" next-text=">" first-text="<<" last-text=">>">
        </pagination>
      </div>
    </div>
    <div class="row" style="margin-top: 3%;">
      <div class="col-sm-12 col-md-12 text-center">
        <button type="submit" class="btn btn-lg btn-success" ng-click="LabAdd.create()" ng-disabled="createLabForm.$invalid">
          <i class="glyphicon glyphicon-plus"></i> Crear
        </button>
      </div>
    </div>
  </form>
</div>
