<div>
  <h2>Sala de Laboratorio</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Operador/Laboratorios">Salas de Laboratorio</a></li>
    <li class="active">Detalle</li>
  </ol>
  <form name="updateLabForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="name" class="control-label">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" ng-model="LabDetail.lab.name" ng-trim required>
          <p class="help-block" ng-if="updateLabForm.name.$error.required">Nombre requerido.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="name" class="control-label">Asientos</label>
          <input type="number" class="form-control" id="name" min="0" name="name" placeholder="Asientos" ng-model="LabDetail.lab.seats" ng-trim required>
          <p class="help-block" ng-if="updateLabForm.name.$error.required">Cantidad de asientos requerida.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="created_at" class="control-label">Fecha Creación</label>
          <input type="text" class="form-control" id="created_at" name="created_at" placeholder="Fecha Creación" ng-value="LabDetail.lab.created_at | date : 'EEEE d \'de\' MMMM \'del\' y. h:mm:ss a'" readonly></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="updated_at" class="control-label">Fecha Actualización</label>
          <input type="text" class="form-control" id="updated_at" name="updated_at" placeholder="Fecha Actualización" ng-value="LabDetail.lab.updated_at | date : 'EEEE d \'de\' MMMM \'del\' y. h:mm:ss a'" readonly>
        </div>
      </div>
    </div>
    <h4><b>Lista de software</b></h4>
    <div class="row">
      <div class="col-md-10 col-xs-10">
        <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="Agregar Software (Código)" ng-model="LabDetail.software_code">
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        <button type="button" class="btn btn-success btn-block" ng-click="LabDetail.searchSoftware()">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Agregar</span>
        </button>
      </div>
    </div>
    <div class="table-responsive">
    <table class="table table-striped" ng-show="LabDetail.software.length > 0">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th style="text-align: center">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="software in LabDetail.software">
          <td>{{ software.code }}</td>
          <td>{{ software.name }}</td>
          <td style="text-align: center">
            <a class='btn btn-info btn-sm' href="{{'#Operador/Software/' + software.code}}">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm" ng-click="LabDetail.deleteSoftware(software.code)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="row" style="margin-top: 3%;">
      <div class="col-md-6 text-center">
        <button type="submit" class="btn btn-lg btn-info" ng-click="LabDetail.update()" ng-disabled="updateLabForm.$invalid">
          <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
        </button>
      </div>
      <div class="col-md-6 text-center">
        <button type="submit" class="btn btn-lg btn-danger" ng-click="LabDetail.delete()">
          <i class="glyphicon glyphicon-trash"></i> Eliminar
        </button>
      </div>
    </div>
  </form>
</div>
