<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SiLabI" connectionString="Data Source=localhost;Initial Catalog=SiLabI;User ID=Silabi;Password=password" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Administrador" connectionString="Data Source=localhost;Initial Catalog=SiLabI;User ID=Administrator;Password=password" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Operador" connectionString="Data Source=localhost;Initial Catalog=SiLabI;User ID=Operator;Password=password" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Docente" connectionString="Data Source=localhost;Initial Catalog=SiLabI;User ID=Professor;Password=password" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Estudiante" connectionString="Data Source=localhost;Initial Catalog=SiLabI;User ID=Student;Password=password" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>