<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="jwtKey" value="d0,1[:7##}9,$]6)('Tj[!+!u?^3H()we\ny8$}u+38_o" />
  </appSettings>
  <connectionStrings>
    <add name="SiLabI" connectionString="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" providerName="System.Data.SqlClient" />
    <add name="Administrador" connectionString="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" providerName="System.Data.SqlClient" />
    <add name="Operador" connectionString="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" providerName="System.Data.SqlClient" />
    <add name="Docente" connectionString="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" providerName="System.Data.SqlClient" />
    <add name="Estudiante" connectionString="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RESTful" name="SiLabI.Service">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="secureHttpBinding" contract="SiLabI.IService" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="extendedWebHttp" type="SiLabI.Configuration.ExtendedWebHttpElement, SiLabI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RESTful">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="false" httpsHelpPageEnabled="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <extendedWebHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>
