<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="jwtKey" value="d0,1[:7##}9,$]6)('Tj[!+!u?^3H()we\ny8$}u+38_o" />
    <add key="checkAccessToken" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="SiLabI" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9DB3FA_SiLabI;User ID=DB_9DB3FA_SiLabI_admin;Password=saprissa123" providerName="System.Data.SqlClient" />
    <add name="Administrador" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9DB3FA_SiLabI;User ID=DB_9DB3FA_SiLabI_admin;Password=saprissa123" providerName="System.Data.SqlClient" />
    <add name="Operador" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9DB3FA_SiLabI;User ID=DB_9DB3FA_SiLabI_admin;Password=saprissa123" providerName="System.Data.SqlClient" />
    <add name="Docente" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9DB3FA_SiLabI;User ID=DB_9DB3FA_SiLabI_admin;Password=saprissa123" providerName="System.Data.SqlClient" />
    <add name="Estudiante" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9DB3FA_SiLabI;User ID=DB_9DB3FA_SiLabI_admin;Password=saprissa123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RESTful" name="SiLabI.Service">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="secureHttpBinding" contract="SiLabI.IService" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="extendedWebHttp" type="SiLabI.Configuration.ExtendedWebHttpElement, SiLabI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RESTful">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <extendedWebHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Add trailing slash" stopProcessing="false">
          <match url="(.*[^/])$" />
          <conditions>  
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />  
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />  
          </conditions>  
          <action type="Rewrite" url="{R:1}/" />
        </rule>
        <rule name="Remove the .svc extension and add /api/v1 prefix" stopProcessing="false">
          <match url="^(api/v1/)(.*)$"/>
          <action type="Rewrite" url="/Service.svc/{R:2}" />
        </rule>
        <rule name="Force HTTPS" enabled="true">
          <match url=".*" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>
