<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JWTsecret" value="d0,1[:7##}9,$]6)('Tj[!+!u?^3H()we\ny8$}u+38_o" />
  </appSettings>
  <connectionStrings>
    <add name="SiLabI" connectionString="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=SilabiLogin;Password=password" providerName="System.Data.SqlClient" />
    <add name="Administrador" connectionString="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=AdministratorLogin;Password=password" providerName="System.Data.SqlClient" />
    <add name="Operador" connectionString="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=OperatorLogin;Password=password" providerName="System.Data.SqlClient" />
    <add name="Docente" connectionString="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=ProfessorLogin;Password=password" providerName="System.Data.SqlClient" />
    <add name="Estudiante" connectionString="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=StudentLogin;Password=password" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RESTful" name="SiLabI.Service">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="SiLabI.IService" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="extendedWebHttp" type="SiLabI.Configuration.ExtendedWebHttpElement, SiLabI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="corsSupport" type="SiLabI.Configuration.CorsSupportBehaviorElement, SiLabI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RESTful">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <extendedWebHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" />
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Add trailing slash" stopProcessing="false">
          <match url="(.*[^/])$" />
          <conditions>  
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />  
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />  
          </conditions>  
          <action type="Rewrite" url="{R:1}/" />
        </rule>
        <rule name="Remove the .svc extension and add /api/v1 prefix" stopProcessing="false">
          <match url="^(api/v1/)(.*)$"/>
          <action type="Rewrite" url="/Service.svc/{R:2}" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
