<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="SiLabI" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9DB3FA_SiLabI;User ID=DB_9DB3FA_SiLabI_admin;Password=saprissa123" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Administrador" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9DB3FA_SiLabI;User ID=DB_9DB3FA_SiLabI_admin;Password=saprissa123" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Operador" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9DB3FA_SiLabI;User ID=DB_9DB3FA_SiLabI_admin;Password=saprissa123" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Docente" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9DB3FA_SiLabI;User ID=DB_9DB3FA_SiLabI_admin;Password=saprissa123" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Estudiante" connectionString="Data Source=SQL5008.Smarterasp.net;Initial Catalog=DB_9DB3FA_SiLabI;User ID=DB_9DB3FA_SiLabI_admin;Password=saprissa123" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>