<div>
  <h2>Reservaciones</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li class="active">Reservaciones</li>
  </ol>
  <div class="table-search" style="margin-bottom: 3%;">
    <div class="row">
      <div class="col-md-10 col-xs-10">
        <form autocomplete="off" class="form-horizontal">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="Buscar (docente)" name="searchInput" type="text" ng-change="ReservationList.search()" ng-model="ReservationList.searched.professor">
          </div>
          <div class="input-group">
            <a href="" ng-click="ReservationList.toggleAdvanceSearch()">Búsqueda Avanzada</a>
          </div>
          <button type="submit" name="button" hidden></button>
        </form>
      </div>
      <div class="col-md-2 col-xs-3">
        <a ng-href="#Operador/Reservaciones/Agregar" class="btn btn-block btn-success">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Crear</span>
        </a>
      </div>
    </div>
    <div class="row" collapse="!ReservationList.advanceSearch">
      <div class="col-md-12">
        <form autocomplete="off" class="form-inline advanced-search">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group datepicker-popup">
                    <input class="form-control" placeholder="Fecha"
                       datepicker-popup="mediumDate"
                       show-weeks="false"
                       is-open="ReservationList.datePickerOpen"
                       ng-model="ReservationList.searched.start_time"
                       ng-click="ReservationList.openDatePicker($event)"
                       close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <ui-select id="lab" ng-model="ReservationList.searched.laborator">
                      <ui-select-match placeholder="Laboratorio" allow-clear="true">
                        {{$select.selected}}
                      </ui-select-match>
                      <ui-select-choices repeat="laboratory in ReservationList.laboratories">
                        <span ng-bind-html="laboratory"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <ui-select id="state" ng-model="ReservationList.searched.state">
                      <ui-select-match placeholder="Estado" allow-clear="true">
                        {{$select.selected.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="state in ReservationList.states">
                        <span ng-bind-html="state.name"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="ReservationList.search()">
                  <i class="glyphicon glyphicon-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div cg-busy="ReservationList.promise"></div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Docente</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Laboratorio</th>
          <th>Estado</th>
          <th style="text-align: center">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="reservation in ReservationList.reservations">
          <td>{{ reservation.professor.full_name }}</td>
          <td>{{ reservation.start_time | date : 'mediumDate' }}</td>
          <td>{{ reservation.start_time | date : 'hh:mm a' }} - {{ reservation.end_time | date : 'hh:mm a' }}</td>
          <td>{{ reservation.laboratory.name }}</td>
          <td>
              <span class="label"
              ng-class="{ 'label-success': reservation.state === 'Por iniciar',
                          'label-primary': reservation.state === 'Finalizada',
                          'label-danger': reservation.state === 'Cancelada'}" >
              {{ reservation.state }}
            </span>
          </td>
          <td style="text-align: center">
            <a class='btn btn-info btn-sm action-btn' ng-click="ReservationList.open(reservation.id)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm action-btn" ng-click="ReservationList.delete(reservation.id)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="ReservationList.isLoaded() && ReservationList.isEmpty()">No se encontraron resultados.</p>
  <br>
  <div class="row" ng-show="ReservationList.totalPages > 1">
    <div class="col-md-12 pagination">
      <pagination ng-if="ReservationList.totalItems"
        ng-change="ReservationList.loadPage()" ng-model="ReservationList.page" items-per-page="ReservationList.limit"
        total-items="ReservationList.totalItems" max-size="5" boundary-links="true" rotate="true"
        previous-text="<" next-text=">" first-text="<<" last-text=">>"
      ></pagination>
    </div>
  </div>
</div>
