<div>
  <h2>Agregar Reservación</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Operador/Reservaciones">Reservaciones</a></li>
    <li class="active">Agregar</li>
  </ol>
  <form autocomplete="off" name="createReservForm">
    <div class="row">
      <div class="col-md-10 col-xs-10">
        <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="Buscar Docente (Usuario)" ng-model="ReservationCreate.professor_username">
          <p class="help-block" ng-if="createLabForm.name.$error.required">Nombre de usuario requerido.</p>
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        <button type="button" class="btn btn-default btn-block" ng-click="ReservationCreate.searchProfessor()">
          <i class="glyphicon glyphicon-search"></i>
          <span class="hidden-xs">Buscar</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="professor">Docente</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" ng-model="ReservationCreate.professor.full_name" required readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">* Fecha</label>
          <div class="input-group">
              <input type="text" class="form-control"
                     datepicker-popup="mediumDate"
                     is-open="ReservationCreate.datepicker_open"
                     ng-model="ReservationCreate.selected_date"
                     min-date="ReservationCreate.min_date"
                     ng-click="ReservationCreate.openDatePicker($event)"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="ReservationCreate.openDatePicker($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Hora Inicio</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
            <ui-select id="date" ng-model="ReservationCreate.selected_start_time" ng-disabled="!ReservationCreate.selected_date" on-select="ReservationCreate.loadEndHours()" required>
              <ui-select-match placeholder="{{$select.selected.hour}}">
                {{$select.selected.hour}}
              </ui-select-match>
              <ui-select-choices repeat="hour in ReservationCreate.start_hours | filter: $select.search">
                <span ng-bind-html="hour.hour | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Hora Final</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
            <ui-select id="hour" ng-model="ReservationCreate.selected_end_time" on-select="ReservationCreate.changeLaboratory()" ng-disabled="!ReservationCreate.selected_start_time" required>
              <ui-select-match placeholder="{{$select.selected.hour}}">
                {{$select.selected.hour}}
              </ui-select-match>
              <ui-select-choices repeat="hour in ReservationCreate.end_hours_sliced | filter: $select.search">
                <span ng-bind-html="hour.hour | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="course">Grupo</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-th-list"></i></span>
            <ui-select id="group" ng-model="ReservationCreate.selected_group" ng-disabled="!ReservationCreate.professor.username" required>
              <ui-select-match placeholder="{{$select.selected.course.name}}">
                {{'[#' + $select.selected.number + '] ' + $select.selected.course.name}}
              </ui-select-match>
              <ui-select-choices repeat="group in ReservationCreate.groups | filter: $select.search">
                <span ng-bind-html="'[#' + group.number + '] ' + group.course.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lab">* Laboratorio</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-home"></i></span>
            <ui-select id="lab" ng-model="ReservationCreate.selected_laboratory" ng-disabled="!ReservationCreate.professor.username" required>
              <ui-select-match placeholder="{{$select.selected.name}}">
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="lab in ReservationCreate.laboratories | filter: $select.search">
                <span ng-bind-html="lab.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="software">Software</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" placeholder="Buscar Software" name="searchInput" type="text" typeahead="'[' + software.code + '] ' + software.name for software in ReservationCreate.searchSoftware($viewValue)" typeahead-on-select="ReservationCreate.setSoftware($item)" typeahead-editable="false" ng-model="ReservationCreate.selected_software" ng-disabled="!ReservationCreate.professor.username" required>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 3%;">
      <div class="col-sm-12 col-md-12 text-center">
        <button type="submit" class="btn btn-lg btn-success" ng-click="ReservationCreate.create()" ng-disabled="createReservForm.$invalid">
          <i class="glyphicon glyphicon-plus"></i> Crear
        </button>
      </div>
    </div>
  </form>
</div>
