<div>
  <h2>Cita</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a ng-href="#Estudiante/Citas">Citas</a></li>
    <li class="active">Detalle</li>
  </ol>
  <form autocomplete="off" name="updateAppForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="date">Fecha</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-calendar"></i></span>
            <ui-select id="date" name="date" ng-model="AppointmentDetail.selectedDate" on-select="AppointmentDetail.setAvailableHours()" ng-disabled="AppointmentDetail.disabled">
              <ui-select-match placeholder="Fecha">
                {{$select.selected.day | date : 'fullDate'}}
              </ui-select-match>
              <ui-select-choices repeat="date in AppointmentDetail.availableDates | filter: $select.search">
                <span ng-bind-html="date.day | date : 'fullDate' | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
            <p class="help-block" ng-show="updateAppForm.date.$error.required">Fecha requerida.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="hour">Hora</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
            <ui-select id="hour" name="hour" ng-model="AppointmentDetail.selectedHour" on-select="AppointmentDetail.changeLaboratory()" ng-disabled="AppointmentDetail.disabled">
              <ui-select-match placeholder="Hora">
                {{$select.selected.fullDate | date: 'hh:mm a'}}
              </ui-select-match>
              <ui-select-choices repeat="hour in AppointmentDetail.availableHours | filter: $select.search">
                <span ng-bind-html="hour.fullDate | date : 'hh:mm a' | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
            <p class="help-block" ng-show="updateAppForm.hour.$error.required">Fecha requerida.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="course">Grupo</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-group"></i></span>
            <ui-select id="group" name="group" ng-model="AppointmentDetail.appointment.group" required>
              <ui-select-match placeholder="Grupo">
                {{$select.selected.course.name}}
              </ui-select-match>
              <ui-select-choices repeat="group in AppointmentDetail.groups | filter: $select.search">
                <span ng-bind-html="group.course.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
            <p class="help-block" ng-show="updateAppForm.group.$error.required">Grupo requerido.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="software">Software</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-floppy-disk"></i></span>
            <input class="form-control" placeholder="Software" name="software" type="text"
              typeahead="'[' + software.code + '] ' + software.name for software in AppointmentDetail.searchSoftware($viewValue)"
              typeahead-on-select="AppointmentDetail.setSoftware($item)"
              typeahead-input-formatter="AppointmentDetail.formatSoftware($model)"
              typeahead-editable="false"
              ng-model="AppointmentDetail.appointment.software"
              ng-disabled="AppointmentDetail.disabled"
              required>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="lab">Laboratorio</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-desktop"></i></span>
            <input id="lab" class="form-control" placeholder="Laboratorio" ng-model="AppointmentDetail.appointment.laboratory.name" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 3%;" ng-show="!AppointmentDetail.disabled">
      <div class="col-md-6 col-sm-6 col-xs-6 text-center">
        <button type="submit" class="btn btn-lg btn-primary" ng-click="AppointmentDetail.update()" ng-disabled="updateAppForm.$invalid">
          <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
        </button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 text-center">
        <button type="button" class="btn btn-lg btn-danger" ng-click="AppointmentDetail.delete()">
          <i class="glyphicon glyphicon-trash"></i> Eliminar
        </button>
      </div>
    </div>
  </form>
</div>
