<div>
  <h2>Docentes</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li class="active">Docentes</li>
  </ol>
  <div class="table-search" style="margin-bottom: 3%;">
    <div class="row">
      <div class="col-md-10 col-xs-9">
        <form autocomplete="off" class="form-horizontal">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="Buscar" name="searchInput" type="text" ng-change="ProfessorList.search()" ng-model="ProfessorList.searched.full_name">
          </div>
          <div class="input-group">
            <a href="" ng-click="ProfessorList.toggleAdvanceSearch()">Búsqueda Avanzada</a>
          </div>
          <button type="submit" name="button" ng-click="ProfessorList.search()" hidden></button>
        </form>
      </div>
      <div class="col-md-2 col-xs-3">
        <a href="#Operador/Docentes/Agregar" class="btn btn-block btn-success" ng-click="ProfessorList.createProfessor()">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Crear</span>
        </a>
      </div>
    </div>
    <div class="row" collapse="!ProfessorList.advanceSearch">
      <div class="col-md-12">
        <form autocomplete="off" class="form-inline advanced-search">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" ng-model="ProfessorList.searched.username">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <ui-select id="state" ng-model="ProfessorList.searched.state">
                      <ui-select-match placeholder="Estado" allow-clear="true">
                        {{$select.selected.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="state in ProfessorList.states">
                        <span ng-bind-html="state.name"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo" ng-model="ProfessorList.searched.email">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="ProfessorList.search()">
                  <i class="glyphicon glyphicon-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div cg-busy="ProfessorList.promise"></div>
  <div class="table-responsive">
    <table class="table table-striped" id="professorsTable">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="professor in ProfessorList.professors" id="{{professor.id}}">
          <td>{{professor.username}}</td>
          <td>{{professor.full_name}}</td>
          <td>{{professor.email}}</td>
          <td>{{professor.phone}}</td>
          <td>
            <span class="label"
              ng-class="{ 'label-success': professor.state === 'Activo',
                          'label-danger': professor.state === 'Inactivo'}" >
              {{ professor.state }}
            </span>
          </td>
          <td class="text-center">
              <a href="{{ '#Operador/Docentes/' + professor.username }}" class='btn btn-info btn-sm' ng-click="ProfessorList.seeProfessorDetail(professor.username)"><span class="glyphicon glyphicon-eye-open" ></span></a>
              <a href="" class="btn btn-danger btn-sm" ng-click="ProfessorList.deleteProfessor(professor.id)"><span class="glyphicon glyphicon-trash" ></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="ProfessorList.isLoaded() && ProfessorList.isEmpty()">No se encontraron resultados.</p>
  <br>
  <div class="row" ng-show="ProfessorList.totalPages > 1">
    <div class="col-xs-12 col-md-12 pagination">
      <pagination ng-if="ProfessorList.totalItems"
        ng-change="ProfessorList.loadPage()" ng-model="ProfessorList.page" items-per-page="ProfessorList.limit"
        total-items="ProfessorList.totalItems" max-size="5" boundary-links="true" rotate="true"
        previous-text="<" next-text=">" first-text="<<" last-text=">>">
      </pagination>
    </div>
  </div>
</div>
