<div>
  <h2>Software</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Operador/Software">Software</a></li>
    <li class="active">Detalle</li>
  </ol>
  <form autocomplete="off" name="updateSoftwareForm">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" show-errors>
          <label for="name" class="control-label">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" ng-model="SoftwareDetail.software.name" ng-trim required>
          <p class="help-block" ng-if="updateSoftwareForm.name.$error.required">Nombre requerido.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="code" class="control-label">Código</label>
          <input type="text" class="form-control" id="code" name="code" placeholder="Código" ng-model="SoftwareDetail.software.code" ng-trim required>
          <p class="help-block" ng-if="updateSoftwareForm.code.$error.required">Código requerido.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="state" class="control-label">Estado</label>
          <ui-select id="state" ng-model="SoftwareDetail.software.state">
            <ui-select-match placeholder="{{SoftwareDetail.software.state}}">
              {{ $select.selected }}
            </ui-select-match>
            <ui-select-choices repeat="state in SoftwareDetail.states">
              <span ng-bind-html="state"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="created_at" class="control-label">Fecha Creación</label>
          <input type="text" class="form-control" id="created_at" name="created_at" placeholder="Fecha Creación" ng-value="SoftwareDetail.software.created_at | date : 'EEEE d \'de\' MMMM \'del\' y. h:mm:ss a'" readonly></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="updated_at" class="control-label">Fecha Actualización</label>
          <input type="text" class="form-control" id="updated_at" name="updated_at" placeholder="Fecha Actualización" ng-value="SoftwareDetail.software.updated_at | date : 'EEEE d \'de\' MMMM \'del\' y. h:mm:ss a'" readonly>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 3%;">
      <div class="col-md-6 col-sm-6 col-xs-6 text-center">
        <button type="button" class="btn btn-lg btn-primary" ng-click="SoftwareDetail.update()" ng-disabled="updateSoftwareForm.$invalid">
          <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
        </button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 text-center">
        <button type="button" class="btn btn-lg btn-danger" ng-click="SoftwareDetail.delete()">
          <i class="glyphicon glyphicon-trash"></i> Eliminar
        </button>
      </div>
    </div>
  </form>
</div>
