<div>
  <h2>Estudiantes</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li class="active">Estudiantes</li>
  </ol>
  <div class="table-search" style="margin-bottom: 3%;">
    <div class="row">
      <div class="col-md-10 col-xs-9">
        <form autocomplete="off" class="form-horizontal">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="Buscar (nombre)" name="searchInput" type="text" ng-change="StudentList.search()" ng-model="StudentList.searched.full_name">
          </div>
          <div class="input-group">
            <a href="" ng-click="StudentList.toggleAdvanceSearch()">Búsqueda Avanzada</a>
          </div>
          <button type="submit" name="button" ng-click="StudentList.search()" hidden></button>
        </form>
      </div>
      <div class="col-md-2 col-xs-3">
        <a href="#Operador/Estudiantes/Agregar" class="btn btn-block btn-success" ng-click="StudentList.createStudent()">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Crear</span>
        </a>
      </div>
    </div>
    <div class="row" collapse="!StudentList.advanceSearch">
      <div class="col-md-12">
        <form autocomplete="off" class="form-inline advanced-search">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Carné" ng-model="StudentList.searched.username">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" id="email" placeholder="Correo" ng-model="StudentList.searched.email">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <ui-select id="state" ng-model="StudentList.searched.state">
                      <ui-select-match placeholder="Estado" allow-clear="true">
                        {{$select.selected.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="state in StudentList.states">
                        <span ng-bind-html="state.name"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="StudentList.search()">
                  <i class="glyphicon glyphicon-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
  <div cg-busy="StudentList.promise"></div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Carné</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in StudentList.students">
          <td>{{ student.username }}</td>
          <td>{{ student.full_name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.phone }}</td>
          <td>
            <span class="label"
              ng-class="{ 'label-success': student.state === 'Activo',
                          'label-danger': student.state === 'Inactivo',
                          'label-warning': student.state === 'Bloqueado',
                        }" >
              {{ student.state }}
            </span>
          </td>
          <td>
            <a href="{{ '#Operador/Estudiantes/' + student.username }}"class='btn btn-info btn-sm' ng-click="StudentList.open(student.username)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-trash" ng-click="StudentList.delete(student.id)"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="StudentList.isLoaded() && StudentList.isEmpty()">No se encontraron resultados.</p>
  <br>
  <div class="row" ng-show="StudentList.totalPages > 1">
    <div class="col-xs-12 col-md-12 pagination">
      <pagination ng-if="StudentList.totalItems"
        ng-change="StudentList.loadPage()" ng-model="StudentList.page" items-per-page="StudentList.limit"
        total-items="StudentList.totalItems" max-size="5" boundary-links="true" rotate="true"
        previous-text="<" next-text=">" first-text="<<" last-text=">>"
      ></pagination>
    </div>
  </div>
</div>
