
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SiLabI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link type="text/plain" rel="author" href="humans.txt" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/sb-admin-2.css">
    <!-- endbuild -->
  </head>
  <body ng-app="silabi" ng-controller="MainController as Main" ng-strict-di>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="NavBarController as Nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="Nav.collapsed = !Nav.collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                  <img src="images/logo_tec.svg" class="img-responsive">
                </a>
            </div>
            <div ng-controller="LoginController as Auth">
              <ul class="nav navbar-top-links navbar-right" ng-if="Auth.isAuthenticated()">
                  <li class="dropdown pull-right">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="glyphicon glyphicon-user"></i> <span class="hidden-xs"> {{ Main.UserName() }} </span> <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu dropdown-user">
                        <li><a href="#Perfil"><i class="glyphicon glyphicon-user"></i> Mi Perfil</a></li>
                        <li><a href="" ng-click="Auth.logOut()"><i class="glyphicon glyphicon-log-out"></i> Cerrar Sesión</a></li>
                      </ul>
                  </li>
              </ul>
            </div>
            <administrators-sidebar ng-if="Main.UserType() === 'Administrador'"></administrators-sidebar>
            <operators-sidebar ng-if="Main.UserType() === 'Operador'"></operators-sidebar>
            <professors-sidebar ng-if="Main.UserType() === 'Docente'"></professors-sidebar>
            <students-sidebar ng-if="Main.UserType() === 'Estudiante'"></students-sidebar>
            <default-sidebar ng-if="!Main.UserType()"></default-sidebar>
        </nav>
        <div id="page-wrapper">
          <div id="view-wrapper" ng-view></div>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/angular-cache/dist/angular-cache.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_es-cr.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootbox/bootbox.js"></script>
    <script src="bower_components/crypto-js/rollups/sha256.js"></script>
    <script src="bower_components/jspdf/dist/jspdf.min.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/ng-password-strength/dist/scripts/ng-password-strength.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <!-- SiLabI Modules -->
      <script src="scripts/silabi.js"></script>
      <script src="scripts/silabi.constants.js"></script>
      <script src="scripts/silabi.config.js"></script>
      <script src="scripts/silabi.route.js"></script>

      <!-- Shared Services -->
      <script src="scripts/shared/services/appointment_date.service.js"></script>
      <script src="scripts/shared/services/request.service.js"></script>
      <script src="scripts/shared/services/message.service.js"></script>
      <script src="scripts/shared/services/user.service.js"></script>
      <script src="scripts/shared/services/period.service.js"></script>
      <script src="scripts/shared/services/gender.service.js"></script>
      <script src="scripts/shared/services/state.service.js"></script>
      <script src="scripts/shared/services/profile.service.js"></script>
      <script src="scripts/shared/services/date.service.js"></script>
      <script src="scripts/shared/services/reporting.service.js"></script>
      <script src="scripts/shared/services/file.service.js"></script>

      <!-- Shared Controllers -->
      <script src="scripts/shared/controllers/main.controller.js"></script>
      <script src="scripts/shared/controllers/navbar.controller.js"></script>
      <script src="scripts/shared/controllers/profile.controller.js"></script>
      <script src="scripts/shared/directives/sidebar/sidebar.controller.js"></script>

      <!-- Shared Directives -->
      <script src="scripts/shared/directives/sidebar/operator.sidebar.directive.js"></script>
      <script src="scripts/shared/directives/sidebar/administrator.sidebar.directive.js"></script>
      <script src="scripts/shared/directives/sidebar/professor.sidebar.directive.js"></script>
      <script src="scripts/shared/directives/sidebar/student.sidebar.directive.js"></script>
      <script src="scripts/shared/directives/sidebar/default.sidebar.directive.js"></script>

      <!-- Login -->
      <script src="scripts/public/login/login.controller.js"></script>
      <script src="scripts/public/login/login.service.js"></script>

      <!-- Administrators/Administrators -->
      <script src="scripts/administrator/administrators/administrator.service.js"></script>
      <script src="scripts/administrator/administrators/administrator.list.controller.js"></script>
      <script src="scripts/administrator/administrators/administrator.detail.controller.js"></script>
      <script src="scripts/administrator/administrators/administrator.create.controller.js"></script>

      <!-- Administrator/Operators -->
      <script src="scripts/administrator/operators/operator.service.js"></script>
      <script src="scripts/administrator/operators/operator.list.controller.js"></script>
      <script src="scripts/administrator/operators/operator.create.controller.js"></script>
      <script src="scripts/administrator/operators/operator.detail.controller.js"></script>

      <!-- Operators/Professor -->
      <script src="scripts/operator/professors/professor.service.js"></script>
      <script src="scripts/operator/professors/professor.list.controller.js"></script>
      <script src="scripts/operator/professors/professor.detail.controller.js"></script>
      <script src="scripts/operator/professors/professor.create.controller.js"></script>

      <!-- Operators/Students -->
      <script src="scripts/operator/students/student.list.controller.js"></script>
      <script src="scripts/operator/students/student.create.controller.js"></script>
      <script src="scripts/operator/students/student.detail.controller.js"></script>
      <script src="scripts/operator/students/student.service.js"></script>

      <!-- Operators/Courses -->
      <script src="scripts/operator/courses/course.list.controller.js"></script>
      <script src="scripts/operator/courses/course.create.controller.js"></script>
      <script src="scripts/operator/courses/course.detail.controller.js"></script>
      <script src="scripts/operator/courses/course.service.js"></script>

      <!-- Operators/Groups -->
      <script src="scripts/operator/groups/group.list.controller.js"></script>
      <script src="scripts/operator/groups/group.create.controller.js"></script>
      <script src="scripts/operator/groups/group.detail.controller.js"></script>
      <script src="scripts/operator/groups/group.service.js"></script>

      <!-- Operators/Labs -->
      <script src="scripts/operator/labs/lab.list.controller.js"></script>
      <script src="scripts/operator/labs/lab.create.controller.js"></script>
      <script src="scripts/operator/labs/lab.detail.controller.js"></script>
      <script src="scripts/operator/labs/lab.service.js"></script>

      <!-- Operators/Software -->
      <script src="scripts/operator/software/software.list.controller.js"></script>
      <script src="scripts/operator/software/software.create.controller.js"></script>
      <script src="scripts/operator/software/software.detail.controller.js"></script>
      <script src="scripts/operator/software/software.service.js"></script>

      <!-- Operators/Appointments -->
      <script src="scripts/operator/appointments/appointment.service.js"></script>
      <script src="scripts/operator/appointments/appointment.list.controller.js"></script>
      <script src="scripts/operator/appointments/appointment.create.controller.js"></script>
      <script src="scripts/operator/appointments/appointment.detail.controller.js"></script>
      <script src="scripts/operator/appointments/appointment.current.controller.js"></script>

      <!-- Operators/Reservations -->
      <script src="scripts/operator/reservations/reservation.service.js"></script>
      <script src="scripts/operator/reservations/reservation.list.controller.js"></script>
      <script src="scripts/operator/reservations/reservation.create.controller.js"></script>
      <script src="scripts/operator/reservations/reservation.detail.controller.js"></script>

      <!-- Student/Appointments -->
      <script src="scripts/student/appointments/appointment.service.js"></script>
      <script src="scripts/student/appointments/appointment.list.controller.js"></script>
      <script src="scripts/student/appointments/appointment.create.controller.js"></script>
      <script src="scripts/student/appointments/appointment.detail.controller.js"></script>

      <!-- Professor/Reservations -->
      <script src="scripts/professor/reservations/professor.reservation.service.js"></script>
      <script src="scripts/professor/reservations/professor.reservation.list.controller.js"></script>
      <script src="scripts/professor/reservations/professor.reservation.create.controller.js"></script>
      <script src="scripts/professor/reservations/professor.reservation.detail.controller.js"></script>

      <!-- Reporting -->
      <script src="scripts/administrator/reports/report.create.controller.js"></script>
      <script src="scripts/administrator/reports/report.appointmentsbystudent.controller.js"></script>
      <script src="scripts/administrator/reports/report.appointmentsbygroup.controller.js"></script>
    <!-- endbuild -->
</body>
</html>
