<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/homePages.css">
    <link rel="stylesheet" href="styles/sidebar.style.css">
    <!-- endbuild -->
  </head>
  <body ng-app="silabi">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->


    <div class="silabiHeader">
        <div ng-if="sessionStorage.getItem('access_token') != null">
            <div class="dropdown title pull-right">
              <a class="dropdown-toggle btn btn-lg btn-primary" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                SiLabI
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Mi Perfil</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
              </ul>
            </div>
        </div>
        <div ng-if="sessionStorage.getItem('access_token') == null">
            <div class="title pull-right">
              <a class="btn btn-lg btn-primary">SiLabI</a>
            </div>
        </div>
    </div>

    <div class="content-box" ng-view>
    </div>

    <div class="content-box">
        <div class="silabiFooter">
            <p>Instituto Tecnológico de Costa Rica. © 2016</p>
            <ul>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- Modules -->
        <script src="scripts/silabi.js"></script>
        <script src="scripts/silabi.constants.js"></script>
        <script src="scripts/silabi.route.js"></script>
        <script src="scripts/sidebar/sidebar.js"></script>
        <script src="scripts/request.service.js"></script>
        <script src="scripts/message.service.js"></script>

        <!-- Login -->
        <script src="scripts/login/login.controller.js"></script>
        <script src="scripts/login/login.service.js"></script>

        <!-- About -->
        <script src="scripts/about/about.controller.js"></script>

        <!-- Admins -->
        <script src="scripts/administrators/admin.service.js"></script>
        <script src="scripts/administrators/admin.controller.js"></script>

        <!-- Operators -->
        <script src="scripts/operators/operators.service.js"></script>
        <script src="scripts/operators/operators.controller.js"></script>
        <script src="scripts/operators/operators.professors.controller.js"></script>

          <!-- Operators/students -->
          <script src="scripts/operators/students/list.controller.js"></script>
          <script src="scripts/operators/students/add.controller.js"></script>
          <script src="scripts/operators/students/detail.controller.js"></script>
          <script src="scripts/operators/students/student.service.js"></script>

        <!-- Students -->
        <script src="scripts/students/students.service.js"></script>
        <script src="scripts/students/students.controller.js"></script>

        <!-- Professors -->
        <script src="scripts/professors/professors.service.js"></script>
        <script src="scripts/professors/professors.controller.js"></script>

        <script src="scripts/sidebar/default/defaultSidebar.directive.js"></script>



</body>
</html>
