
<div class="wrap">

  <!-- SideBar directive -->

  <div class="left-panel">
    <operators-sidebar></operators-sidebar>
  </div>
<div class="center-panel">
  <!-- Page content -->
  <div id="page-content-wrapper">
  <div ng-init="loadProfessorsPage(1)"></div>
    <h1>Docentes</h1>
    <br>
    <br>
      <div class="row">
        <div class="col-sm-6">
          <input class="form-control" placeholder="Buscar" name="searchInput" type="text" ng-model="searchText" ng-change="checkProfessorSearch()">
        </div>
        <div class="col-sm-6">
          <select class="form-control" id="orderSel">
            <option selected>Ordenar Por</option>
            <option value="name" ng-model="orderCriteria">Nombre</option>
            <option value="last_name_1" ng-model="orderCriteria">Apellido1</option>
            <option value="last_name_2" ng-model="orderCriteria">Apellido2</option>
          </select>
        </div>
      </div>
      <br><br>
      <table class="table table-striped custab" id="professorsTable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="professor in searchResults = (professorsArray | filter:searchText)" id="{{professor.id}}">
            <td>{{professor.full_name}}</td>
            <td>{{professor.email}}</td>
            <td>{{professor.phone}}</td>
            <td class="text-center">
                <a class='btn btn-info btn-sm' ng-click="seeProfessorDetail(professor.username)"><span class="glyphicon glyphicon-eye-open" ></span></a>
                <a href="#" class="btn btn-danger btn-sm" ng-click="deleteProfessor(professor.id)"><span class="glyphicon glyphicon-trash" ></span></a>
            </td>
          </tr>
        </tbody>
      </table>
      <p ng-show="searchResults.length==0"> No se encontraron resultados </p>
      <br><br>
      <div class="row">
        <div class="form-inline">
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary center-block" ng-click="loadProfessorsPage(-1)"><</button>
          </div>
          <div class="col-sm-2">
            <label>Página {{pageNumber}}</label>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary center-block" ng-click="loadProfessorsPage(1)">></button>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>