<div class="wrap">

  <!-- SideBar directive -->
  <div class="left-panel">
    <administrators-sidebar></administrators-sidebar>
  </div>

  <!-- Page content -->
  <div class="center-panel">
    <h1>Administradores</h1>
    <br>
    <br>
      <div class="row">
        <div class="col-sm-6">
          <input class="form-control" placeholder="Buscar" name="searchInput" type="text" ng-model="searchText">
        </div>
        <div class="col-sm-6">
          <select class="form-control" id="orderSel">
            <option selected>Ordenar Por</option>
            <option value="name" ng-model="orderCriteria">Nombre</option>
            <option value="last_name_1" ng-model="orderCriteria">Apellido1</option>
            <option value="last_name_2" ng-model="orderCriteria">Apellido2</option>
            <option value="period" ng-model="orderCriteria">Periodo</option>
          </select>
        </div>
      </div>
      <br><br>
      <table class="table table-bordered" id="adminsTable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Periodo</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="admin in adminsArray | filter:searchText | orderBy:orderCriteria" id="{{admin.id}}">
            <td>{{admin.name}}</td>
            <td>{{admin.last_name_1}}</td>
            <td>{{admin.last_name_2}}</td>
            <td>{{admin.email}}</td>
            <td>{{admin.state}}</td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <div class="row">
        <div class="form-inline">
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary center-block" ng-click="loadPage(-1)"><</button>
          </div>
          <div class="col-sm-2">
            <label>Página {{pageNumber}}</label>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary center-block" ng-click="loadPage(1)">></button>
          </div>
        </div>
      </div>
  </div>
</div>