<div>
  <h2>Cursos</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li class="active">Cursos</li>
  </ol>
  <div class="table-search" style="margin-bottom: 3%;">
    <div class="row">
      <div class="col-md-10 col-xs-9">
        <form autocomplete="off" class="form-horizontal">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="Buscar (nombre)" name="searchInput" type="text" ng-change="CourseList.search()" ng-model="CourseList.searched.name">
          </div>
          <div class="input-group">
            <a href="" ng-click="CourseList.toggleAdvanceSearch()">Búsqueda Avanzada</a>
          </div>
          <button type="submit" name="button" hidden></button>
        </form>
      </div>
      <div class="col-md-2 col-xs-3">
        <a href="#Operador/Cursos/Agregar" class="btn btn-block btn-success">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Crear</span>
        </a>
      </div>
    </div>
    <div class="row" collapse="!CourseList.advanceSearch">
      <div class="col-md-12">
        <form autocomplete="off" class="form-inline advanced-search">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Código" ng-model="CourseList.searched.code">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <ui-select id="state" ng-model="CourseList.searched.state">
                      <ui-select-match placeholder="Estado" allow-clear="true">
                        {{$select.selected.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="state in CourseList.states">
                        <span ng-bind-html="state.name"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="CourseList.search()">
                  <i class="glyphicon glyphicon-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
  <div cg-busy="CourseList.promise"></div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th style="text-align: center">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="course in CourseList.courses">
          <td>{{ course.code }}</td>
          <td>{{ course.name }}</td>
          <td>
            <span class="label"
              ng-class="{ 'label-success': course.state === 'Activo',
                          'label-danger': course.state === 'Inactivo'
                        }" >
              {{ course.state }}
            </span>
          </td>
          <td style="text-align: center">
            <a class='btn btn-info btn-sm action-btn' ng-click="CourseList.open(course.id)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm action-btn" ng-click="CourseList.delete(course.id)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="CourseList.isLoaded() && CourseList.isEmpty()">No se encontraron resultados.</p>
  <br>
  <div class="row" ng-show="CourseList.totalPages > 1">
    <div class="col-xs-12 col-md-12 pagination">
      <pagination ng-if="CourseList.totalItems"
        ng-change="CourseList.loadPage()" ng-model="CourseList.page" items-per-page="CourseList.limit"
        total-items="CourseList.totalItems" max-size="5" boundary-links="true" rotate="true"
        previous-text="<" next-text=">" first-text="<<" last-text=">>"
      ></pagination>
    </div>
  </div>
</div>
