<div id="wrapper">

  <!-- SideBar directive -->
  <default-sidebar></default-sidebar>

  <!-- Page content -->
  <div id="page-content-wrapper">
      <div class="container">
      <h1>Agregar Estudiante</h1>
      <br><br>
      <form>
        <input class="form-control" placeholder="Nombre" name="studentName" type="text" ng-model="StudentsAdd.student.name" required>
        <br>
        <input class="form-control" placeholder="Primer Apellido" name="studentLastName" type="text" ng-model="StudentsAdd.student.lastName" required>
        <br>
        <input class="form-control" placeholder="Segundo Apellido" name="studentSecondLastName" type="text" ng-model="StudentsAdd.student.secondLastName">
        <br>
        <input class="form-control" placeholder="Email" name="studentEmail" type="email" ng-model="StudentsAdd.student.email">
        <br>
        <div class="row">
          <div class="col-sm-6">
            <select class="form-control" ng-model="StudentsAdd.gender" required>
              <option selected disabled> Seleccionar Género</option>
              <option ng-repeat="gender in StudentsAdd.genders" value="{{gender.name}}"> {{gender.name}} </option>
            </select>
          </div>
          <div class="col-sm-6">
            <input class="form-control" placeholder="Telefono" name="studentPhone" type="text" ng-model="StudentsAdd.student.phoneNumber">
          </div>
        </div>
        <br>
        <input class="form-control" placeholder="Nombre de usuario" name="studentUsername" type="text" ng-model="StudentsAdd.student.username">
        <br>
        <input class="form-control" placeholder="Contraseña" name="studentPassword" type="password" ng-model="StudentsAdd.student.password" required>
        <br>
        <div class="row">
          <div class="centerBox">
            <div class="col-sm-6">
              <button class="btn btn-default" type="button" ng-click="StudentsAdd.mostrar()">Crear</button>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-default" type="button">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
