<div id="wrapper">

  <!-- SideBar directive -->
  <default-sidebar></default-sidebar>

  <!-- Page content -->
  <div id="page-content-wrapper" ng-init="loadStudents()">
    <div class="container">
      <h1>Estudiantes</h1>
      <br>
      <br>
      <div class="container">
        <div ng-hide="noStudents()">
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" placeholder="Buscar" name="searchInput" type="text">
            </div>
            <div class="col-sm-6">
              <select class="form-control" id="orderSel">
                <option selected>Ordenar Por</option>
                <option value="name">Nombre</option>
                <option value="last_name_1">Apellido1</option>
                <option value="last_name_2">Apellido2</option>
              </select>
            </div>
          </div>
          <br><br>
          <table class="table table-bordered" id="professorsTable">
            <thead>
              <tr>
                <th>Carne</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="student in students">
                <td>{{ student.username }} </td>
                <td>{{ student.name }} </td>
                <td>{{ student.last_name_1 + ' ' + student.last_name_2 }} </td>
                <td>{{ student.email }} </td>
                <td>{{ student.state }} </td>
                <td> <button class="btn btn-primary center-block" ng-click="seeStudentDetail(student.username)">Ver</button>
              </tr>
            </tbody>
          </table>
        </div>
        <p ng-show="noStudents()"> No se encontraron resultados </p>
        <br><br>
        <div class="row">
          <div class="form-inline" ng-hide="noStudents()">
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary center-block" ng-show="pageNumber != 1" ng-click="goToPreviuosPage()"><</button>
            </div>
            <div class="col-sm-2">
              <label>Página {{ pageNumber }}</label>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary center-block" ng-click="goToNextPage()">></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
