<div id="wrapper">

  <!-- SideBar directive -->
  <default-sidebar></default-sidebar>

  <!-- Page content -->
  <div id="page-content-wrapper">
      <div class="container">
      <h1>Agregar Docente</h1>
      <br><br>
      <form>
        <input class="form-control" placeholder="Nombre" name="professorModifyName" type="text" ng-model="professorModifyName" required>
        <br>
        <input class="form-control" placeholder="Primer Apellido" name="professorModifyLastName1" type="text" ng-model="professorModifyLastName1" required>
        <br>
        <input class="form-control" placeholder="Segundo Apellido" name="professorModifyLastName2" type="text" ng-model="professorModifyLastName2">
        <br>
        <input class="form-control" placeholder="Email" name="professorModifyEmail" type="email" ng-model="professorModifyEmail">
        <br>
        <div class="row">
          <div class="col-sm-6">
            <select class="form-control" ng-model="selected_gender" required>
              <option selected disabled> Seleccionar Género</option>
              <option ng-repeat="gender in genders" value="{{gender.name}}"> {{gender.name}}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <input class="form-control" placeholder="Telefono" name="professorModifyPhoneNumber" type="text" ng-model="professorModifyPhoneNumber">
          </div>
        </div>
        <br>
        <input class="form-control" placeholder="Contraseña" name="professorModifyPassword" type="password" ng-model="professorModifyPassword" required>
        <br>
        <div class="row">
          <div class="col-sm-6">
              <label>Fecha de Creación:</label>
          </div>
          <div class="col-sm-6">
            <input class="form-control"  name="professorCreationDate" type="text" ng-model="professorCreationDate" disabled>
          </div>
        </div> 
        <br>
        <div class="row">
          <div class="col-sm-6">
              <label>última Actualización:</label>
          </div>
          <div class="col-sm-6">
            <input class="form-control"  name="professorLastUpdate" type="text" ng-model="professorLastUpdate" disabled>
          </div>
        </div> 
        <br> 
        <div class="row">
          <div class="centerBox">
            <div class="col-sm-6">
              <button class="btn btn-default" type="button" ng-click="modifyProfessor()">Modificar</button>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-default" type="button" ng-click="deleteProfessor()">Eliminar</button>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>