<div id="wrapper">

  <!-- SideBar directive -->
  <default-sidebar></default-sidebar>

  <!-- Page content -->
  <div id="page-content-wrapper">
      <div class="container">
      <h1>Agregar Docente</h1>
      <br><br>
      <form>
        <input class="form-control" placeholder="Nombre" name="professorinputName" type="text" ng-model="professorinputName" required>
        <br>
        <input class="form-control" placeholder="Primer Apellido" name="professorinputLastName1" type="text" ng-model="professorinputLastName1" required>
        <br>
        <input class="form-control" placeholder="Segundo Apellido" name="professorinputLastName2" type="text" ng-model="professorinputLastName2">
        <br>
        <input class="form-control" placeholder="Email" name="professorinputEmail" type="email" ng-model="professorinputEmail">
        <br>
        <div class="row">
          <div class="col-sm-6">
            <select class="form-control" ng-model="selected_gender" required>
              <option selected disabled> Seleccionar Género</option>
              <option ng-repeat="gender in genders" value="{{gender.name}}"> {{gender.name}}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <input class="form-control" placeholder="Telefono" name="professorinputPhoneNumber" type="text" ng-model="professorinputPhoneNumber">
          </div>
        </div>
        <br>
        <input class="form-control" placeholder="Contraseña" name="professorinputPassword" type="password" ng-model="professorinputPassword" required>
        <br>
        <div class="row">
          <div class="col-sm-6">
              <label>Fecha de Creación:</label>
          </div>
          <div class="col-sm-6">
            <input class="form-control"  name="professorCreationDate" type="text" ng-model="professoriCreationDate" disabled>
          </div>
        </div> 
        <br>
        <div class="row">
          <div class="col-sm-6">
              <label>última Actualización:</label>
          </div>
          <div class="col-sm-6">
            <input class="form-control"  name="professorLastUpdateDate" type="text" ng-model="professorLastUpdateDate" disabled>
          </div>
        </div> 
        <br> 
        <div class="row">
          <div class="centerBox">
            <div class="col-sm-6">
              <button class="btn btn-default" type="button" ng-click="modifyProfessor()">Modificar</button>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-default" type="button" ng-click="cleanProfessorModify()">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>