<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>eLab API/v1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Administrador" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Administrador_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Estudiante" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Estudiante_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Operador" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Operador_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Docente" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Docente_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SiLabI" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SiLabI_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchAttributes="$(UpdateFromConnectionStringAttributes)" MatchValue="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E3CC7_SiLabI;User ID=DB_9E3CC7_SiLabI_admin;Password=b4bb4elabcr" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Administrador-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Docente-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Estudiante-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Operador-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SiLabI-Web.config Connection String" />
  </ItemGroup>
</Project>