<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lmadrigal-001-site1.btempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://lmadrigal-001-site1.btempurl.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>lmadrigal-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\lmadrigal-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Administrador" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=AdministratorLogin;Password=password" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Administrador_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=AdministratorLogin;Password=password" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Estudiante" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=StudentLogin;Password=password" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Estudiante_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=StudentLogin;Password=password" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Operador" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=OperatorLogin;Password=password" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Operador_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=OperatorLogin;Password=password" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Docente" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=ProfessorLogin;Password=password" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Docente_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=ProfessorLogin;Password=password" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SiLabI" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=SilabiLogin;Password=password" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SiLabI_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=SiLabI;Persist Security Info=True;User ID=SilabiLogin;Password=password" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Administrador-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Docente-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Estudiante-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Operador-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SiLabI-Web.config Connection String" />
  </ItemGroup>
</Project>