<div>
  <h2>Ver Reservación</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Docente/Reservaciones">Reservaciones</a></li>
    <li class="active">Detalle</li>
  </ol>
  <form autocomplete="off" name="UpdateReservationForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Fecha</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="text" class="form-control" name="date"
               datepicker-popup="mediumDate"
               show-weeks="false"
               is-open="ProfessorReservationDetail.datepicker_open"
               ng-model="ProfessorReservationDetail.selected_date"
               min-date="ProfessorReservationDetail.min_date"
               ng-disabled="ProfessorReservationDetail.disabled"
               ng-click="ProfessorReservationDetail.openDatePicker($event)"
               close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lab">* Laboratorio</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-desktop"></i></span>
            <ui-select name="lab" ng-model="ProfessorReservationDetail.reservation.laboratory" ng-disabled="ProfessorReservationDetail.disabled" required>
              <ui-select-match placeholder="{{$select.selected.name}}">
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="lab in ProfessorReservationDetail.laboratories | filter: $select.search">
                <span ng-bind-html="lab.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Hora Inicio</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
            <ui-select name="startHour" ng-model="ProfessorReservationDetail.selected_start_time" ng-disabled="ProfessorReservationDetail.disabled" on-select="ProfessorReservationDetail.loadEndHours()" required>
              <ui-select-match placeholder="{{$select.selected | date: 'hh:mm a'}}">
                {{$select.selected | date: 'hh:mm a'}}
              </ui-select-match>
              <ui-select-choices repeat="hour in ProfessorReservationDetail.start_hours | filter: $select.search">
                <span ng-bind-html="hour | date: 'hh:mm a' | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Hora Final</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
            <ui-select name="endHour" ng-model="ProfessorReservationDetail.selected_end_time" on-select="ProfessorReservationDetail.changeLaboratory()" ng-disabled="ProfessorReservationDetail.disabled"  required>
              <ui-select-match placeholder="{{$select.selected | date: 'hh:mm a'}}">
                {{$select.selected | date: 'hh:mm a'}}
              </ui-select-match>
              <ui-select-choices repeat="hour in ProfessorReservationDetail.end_hours_sliced | filter: $select.search">
                <span ng-bind-html="hour | date: 'hh:mm a' | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="course">Grupo</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-group"></i></span>
            <ui-select id="group" ng-model="ProfessorReservationDetail.reservation.group" ng-disabled="ProfessorReservationDetail.disabled || ProfessorReservationDetail.groups.length == 0">
              <ui-select-match placeholder="{{$select.selected.course.name}}" allow-clear="true">
                {{$select.selected.course.name}}
              </ui-select-match>
              <ui-select-choices repeat="group in ProfessorReservationDetail.groups | filter: $select.search">
                <span ng-bind-html=" group.course.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="software">Software</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-floppy-disk"></i></span>
            <input class="form-control" name="searchInput" type="text"
              typeahead="'[' + software.code + '] ' + software.name for software in ProfessorReservationDetail.searchSoftware($viewValue)"
              typeahead-on-select="ProfessorReservationDetail.setSoftware($item)"
              typeahead-input-formatter="ProfessorReservationDetail.formatSoftware($model)"
              typeahead-editable="false"
              ng-model="ProfessorReservationDetail.reservation.software"
              ng-disabled="ProfessorReservationDetail.disabled">
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 3%;" ng-if="!ProfessorReservationDetail.disabled">
      <div class="col-md-6 col-sm-6 col-xs-6 text-center">
        <button type="submit" class="btn btn-lg btn-primary" ng-click="ProfessorReservationDetail.update()" ng-disabled="UpdateReservationForm.$invalid">
          <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
        </button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 text-center">
        <button type="button" class="btn btn-lg btn-danger" ng-click="ProfessorReservationDetail.delete()">
          <i class="glyphicon glyphicon-trash"></i> Eliminar
        </button>
      </div>
    </div>
  </form>
</div>
