<div>
  <h2>Agregar Reservación</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Docente/Reservaciones">Reservaciones</a></li>
    <li class="active">Agregar</li>
  </ol>
  <form autocomplete="off" name="createReservationForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="date">* Fecha</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="text" class="form-control" id="date" name="date" placeholder="Fecha"
               datepicker-popup="mediumDate"
               show-weeks="false"
               is-open="ProfessorReservationCreate.datepicker_open"
               ng-model="ProfessorReservationCreate.selected_date"
               min-date="ProfessorReservationCreate.min_date"
               ng-click="ProfessorReservationCreate.openDatePicker($event)"
               ng-change="ProfessorReservationCreate.setHours()"
               close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"
               required/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lab">* Laboratorio</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-desktop"></i></span>
            <ui-select id="lab" name="lab" ng-model="ProfessorReservationCreate.selected_laboratory" required>
              <ui-select-match placeholder="Laboratorio">
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="lab in ProfessorReservationCreate.laboratories | filter: $select.search">
                <span ng-bind-html="lab.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="start_time">* Hora Inicio</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
            <ui-select id="start_time" name="start_time" ng-model="ProfessorReservationCreate.selected_start_time" on-select="ProfessorReservationCreate.loadEndHours()" required>
              <ui-select-match placeholder="Hora Inicio">
                {{$select.selected | date : 'hh:mm a'}}
              </ui-select-match>
              <ui-select-choices repeat="hour in ProfessorReservationCreate.start_hours | filter: $select.search">
                <span ng-bind-html="hour | date : 'hh:mm a' | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="end_time">* Hora Final</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
            <ui-select id="end_time" name="end_time" ng-model="ProfessorReservationCreate.selected_end_time" ng-disabled="!ProfessorReservationCreate.selected_start_time" required>
              <ui-select-match placeholder="Hora Final">
                {{$select.selected | date : 'hh:mm a'}}
              </ui-select-match>
              <ui-select-choices repeat="hour in ProfessorReservationCreate.end_hours_sliced | filter: $select.search">
                <span ng-bind-html="hour | date : 'hh:mm a' | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="group">Grupo</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-group"></i></span>
            <ui-select id="group" name="group" ng-model="ProfessorReservationCreate.selected_group" ng-disabled="ProfessorReservationCreate.groups.length === 0">
              <ui-select-match placeholder="Grupo">
                {{'[#' + $select.selected.number + '] ' + $select.selected.course.name}}
              </ui-select-match>
              <ui-select-choices repeat="group in ProfessorReservationCreate.groups | filter: $select.search">
                <span ng-bind-html="'[#' + group.number + '] ' + group.course.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="software">
          <label for="software">Software</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-floppy-disk"></i></span>
            <input class="form-control" id="software" name="software" type="text" placeholder="Software"
              typeahead="'[' + software.code + '] ' + software.name for software in ProfessorReservationCreate.searchSoftware($viewValue)"
              typeahead-on-select="ProfessorReservationCreate.setSoftware($item)"
              typeahead-input-formatter="ProfessorReservationCreate.formatSoftware($model)"
              typeahead-editable="false"
              ng-model="ProfessorReservationCreate.selected_software">
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 3%;">
      <div class="col-md-12 col-xs-12 text-center">
        <button type="submit" class="btn btn-lg btn-success" ng-click="ProfessorReservationCreate.create()" ng-disabled="createReservationForm.$invalid">
          <i class="glyphicon glyphicon-plus"></i> Crear
        </button>
      </div>
    </div>
  </form>
</div>
