<div>
  <h2>Mis Reservaciones</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li class="active">Reservaciones</li>
  </ol>
  <div class="table-search" style="margin-bottom: 3%;">
    <div class="row">
      <div class="col-md-10 col-xs-9">
        <form autocomplete="off" class="form-horizontal">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="Buscar (fecha)"
               datepicker-popup
               show-weeks="false"
               is-open="ProfessorReservationList.datePickerOpen"
               ng-model="ProfessorReservationList.searched.start_time"
               ng-click="ProfessorReservationList.openDatePicker($event)"
               close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"/>
          </div>
          <div class="input-group">
            <a href="" ng-click="ProfessorReservationList.toggleAdvanceSearch()">Búsqueda Avanzada</a>
          </div>
          <button type="submit" name="button" hidden></button>
        </form>
      </div>
      <div class="col-md-2 col-xs-3">
        <a href="#Docente/Reservaciones/Agregar" class="btn btn-block btn-success">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Crear</span>
        </a>
      </div>
    </div>
    <div class="row" collapse="!ProfessorReservationList.advanceSearch">
      <div class="col-md-12">
        <form autocomplete="off" class="form-inline advanced-search">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <ui-select id="group" ng-model="ProfessorReservationList.searched.group" >
                      <ui-select-match placeholder="Grupo" allow-clear="true">
                        {{$select.selected.course.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="group in ProfessorReservationList.groups | filter: $select.search">
                        <span ng-bind-html="group.course.name | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <ui-select id="lab" ng-model="ProfessorReservationList.searched.laboratory.name">
                      <ui-select-match placeholder="Laboratorio" allow-clear="true">
                        {{$select.selected}}
                      </ui-select-match>
                      <ui-select-choices repeat="laboratory in ProfessorReservationList.laboratories">
                        <span ng-bind-html="laboratory"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <ui-select id="state" ng-model="ProfessorReservationList.searched.state">
                      <ui-select-match placeholder="Estado" allow-clear="true">
                        {{$select.selected.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="state in ProfessorReservationList.states">
                        <span ng-bind-html="state.name"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="ProfessorReservationList.search()">
                  <i class="glyphicon glyphicon-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div cg-busy="ProfessorReservationList.promise"></div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Grupo</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Laboratorio</th>
          <th>Estado</th>
          <th style="text-align: center">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="res in ProfessorReservationList.reservations">
          <td>{{ res.group.course.name }}</td>
          <td>{{ res.start_time | date : 'mediumDate' }}</td>
          <td>{{ res.start_time | date : 'hh:mm a' }} - {{ res.end_time | date : 'hh:mm a' }}</td>
          <td>{{ res.laboratory.name }}</td>
          <td>
              <span class="label"
              ng-class="{ 'label-success': res.state === 'Por iniciar',
                          'label-primary': res.state === 'Finalizada',
                          'label-danger': res.state === 'Cancelada'}" >
              {{ res.state }}
            </span>
          </td>
          <td style="text-align: center">
            <a class='btn btn-info btn-sm action-btn' ng-click="ProfessorReservationList.open(res.id)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm action-btn" ng-click="ProfessorReservationList.delete(res.id)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="ProfessorReservationList.isLoaded() && ProfessorReservationList.isEmpty()">No se encontraron resultados.</p>
  <br>
  <div class="row" ng-show="ProfessorReservationList.totalPages > 1">
    <div class="col-xs-12 col-md-12 pagination">
      <pagination ng-if="ProfessorReservationList.totalItems"
        ng-change="ProfessorReservationList.loadPage()" ng-model="ProfessorReservationList.page"items-per-page="ProfessorReservationList.limit" total-items="ProfessorReservationList.totalItems" max-size="5" boundary-links="true" rotate="true" previous-text="<" next-text=">" first-text="<<" last-text=">>">
      </pagination>
    </div>
  </div>
</div>
