<div>
  <h2>Agregar Reservación</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Docente/Reservaciones">Mis Reservaciones</a></li>
    <li class="active">Agregar</li>
  </ol>
  <form autocomplete="off">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">* Fecha Inicial</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-calendar"></i></span>
            <ui-datepicker ng-model="ProfessorReservationCreate.selected_date" min-date="ProfessorReservationCreate.minDate" show-weeks="true" class="well well-sm"></ui-datepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Hora Inicio</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-calendar"></i></span>
            <ui-select id="date" ng-model="ProfessorReservationCreate.selected_start_time" ng-disabled="!ProfessorReservationCreate.selected_date">
              <ui-select-match placeholder="{{$select.selected.hour}}">
                {{$select.selected.hour}}
              </ui-select-match>
              <ui-select-choices repeat="hour in ProfessorReservationCreate.start_hours | filter: $select.search">
                <span ng-bind-html="hour.hour | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Hora Final</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
            <ui-select id="hour" ng-model="ProfessorReservationCreate.selected_end_time" on-select="ProfessorReservationCreate.changeLaboratory()" ng-disabled="!ProfessorReservationCreate.selected_start_time">
              <ui-select-match placeholder="{{$select.selected.hour}}">
                {{$select.selected.hour}}
              </ui-select-match>
              <ui-select-choices repeat="hour in ProfessorReservationCreate.end_hours | filter: $select.search">
                <span ng-bind-html="hour.hour | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="course">Grupo</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-th-list"></i></span>
            <ui-select id="group" ng-model="ProfessorReservationCreate.selected_group" >
              <ui-select-match placeholder="{{$select.selected.course.name}}">
                {{'[#' + $select.selected.number + '] ' + $select.selected.course.name}}
              </ui-select-match>
              <ui-select-choices repeat="group in ProfessorReservationCreate.groups | filter: $select.search">
                <span ng-bind-html="'[#' + group.number + '] ' + group.course.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lab">* Laboratorio</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-home"></i></span>
            <ui-select id="lab" ng-model="ProfessorReservationCreate.selected_laboratory" >
              <ui-select-match placeholder="{{$select.selected.name}}">
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="lab in ProfessorReservationCreate.laboratories | filter: $select.search">
                <span ng-bind-html="lab.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="software">Software</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-list-alt"></i></span>
            <input class="form-control" placeholder="Buscar Software" name="searchInput" type="text" typeahead="'[' + software.code + '] ' + software.name for software in ProfessorReservationCreate.searchSoftware($viewValue)" typeahead-on-select="ProfessorReservationCreate.setSoftware($item)" typeahead-editable="false" ng-model="ProfessorReservationCreate.selected_software">
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 3%;">
      <div class="col-md-12 col-xs-12 text-center">
        <button type="submit" class="btn btn-lg btn-success" ng-click="ProfessorReservationCreate.create()" ng-disabled="!ProfessorReservationCreate.fieldsReady()">
          <i class="glyphicon glyphicon-plus"></i> Crear
        </button>
      </div>
    </div>
  </form>
</div>
