<div>
  <h2>Administradores</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li class="active">Administradores</li>
  </ol>
  <div class="table-search" style="margin-bottom: 3%;">
    <div class="row">
      <div class="col-md-10 col-xs-9">
        <form class="form-horizontal">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="Buscar" name="searchInput" type="text" ng-change="AdminList.search()" ng-model="AdminList.searched.full_name">
          </div>
          <div class="input-group">
            <a href="" ng-click="AdminList.toggleAdvanceSearch()">Búsqueda Avanzada</a>
          </div>
          <button type="submit" name="button" ng-click="AdminList.search()" hidden></button>
        </form>
      </div>
      <div class="col-md-2 col-xs-3">
        <a href="#Administrador/Administradores/Agregar" class="btn btn-block btn-success" ng-click="AdminList.createAdministrator()">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Crear</span>
        </a>
      </div>
    </div>
    <div class="row" collapse="!AdminList.advanceSearch">
      <div class="col-md-12">
        <form class="form-inline advanced-search">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" ng-model="AdminList.searched.username">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <ui-select id="state" ng-model="AdminList.searched.state">
                      <ui-select-match placeholder="Estado" allow-clear="true">
                        {{$select.selected.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="state in AdminList.states">
                        <span ng-bind-html="state.name"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Correo" ng-model="AdminList.searched.email">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="AdminList.search()">
                  <i class="glyphicon glyphicon-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" ng-show="AdminList.isLoaded() && !AdminList.isEmpty()">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="admin in AdminList.administrators">
          <td>{{ admin.username }}</td>
          <td>{{ admin.full_name }}</td>
          <td>{{ admin.email }}</td>
          <td>{{ admin.phone }}</td>
          <td>
            <span class="label"
              ng-class="{ 'label-success': admin.state === 'Activo',
                          'label-danger': admin.state === 'Inactivo'}" >
              {{ admin.state }}
            </span>
          </td>
          <td>
            <a href="{{ '#Administrador/Administradores/' + admin.id }}" class='btn btn-info btn-sm'>
              <span class="glyphicon glyphicon-eye-open" ng-click="AdminList.open(admin.id)"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-trash" ng-click="AdminList.delete(admin.id)"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="AdminList.isLoaded() && AdminList.isEmpty()">No se encontraron resultados.</p>
  <br>
  <div class="row">
    <div class="col-md-12 pagination">
      <pagination
        ng-change="AdminList.loadPage()" ng-model="AdminList.page" items-per-page="AdminList.limit"
        total-items="AdminList.totalItems" max-size="5" boundary-links="true" rotate="true"
        previous-text="<" next-text=">" first-text="<<" last-text=">>"
      ></pagination>
    </div>
  </div>
</div>
