<div class="wrap">

  <!-- SideBar directive -->
  <div class="left-panel">
    <operators-sidebar></operators-sidebar>
  </div>

  <!-- Page content -->
  <div class="center-panel">
    <h2>Estudiantes</h2>
    <hr>
    <br>
    <div class="table-search" style="margin-bottom: 3%;">
      <div class="row">
        <div class="col-md-10 col-xs-9">
          <form class="form-horizontal">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input class="form-control" placeholder="Buscar" name="searchInput" type="text" ng-change="StudentList.search()" ng-model="StudentList.searched.full_name">
            </div>
            <div class="input-group">
              <a href="">Búsqueda Avanzada</a>
            </div>
            <button type="submit" name="button" ng-click="StudentList.search()" hidden></button>
          </form>
        </div>
        <div class="col-md-2 col-xs-3">
          <a href="#Operador/Estudiantes/Agregar" class="btn btn-block btn-success" ng-click="StudentList.createStudent()">
            <i class="glyphicon glyphicon-plus"></i>
            <span class="hidden-xs">Crear</span>
          </a>
        </div>
      </div>
    </div>
    <table class="table table-striped" ng-show="StudentList.isLoaded() && !StudentList.isEmpty()">
      <thead>
        <tr>
          <th>Carne</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in StudentList.students">
          <td>{{ student.username }}</td>
          <td>{{ student.full_name }}</td>
          <td>{{ student.email }}</td>
          <td>
            <span class="label"
              ng-class="{ 'label-success': student.state === 'Activo',
                          'label-danger': student.state === 'Inactivo',
                          'label-default': student.state === 'Bloqueado',
                        }" >
              {{ student.state }}
            </span>
          </td>
          <td>
            <a href="{{ '#Operador/Estudiantes/' + student.username }}"class='btn btn-info btn-sm' ng-click="StudentList.open(student.username)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-trash" ng-click="StudentList.delete(student.id)"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <p ng-show="StudentList.isLoaded() && StudentList.isEmpty()"> No se encontraron resultados </p>
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <pagination
          ng-change="StudentList.loadPage()" ng-model="StudentList.page" items-per-page="StudentList.limit"
          total-items="StudentList.totalItems" max-size="5" boundary-links="true" rotate="true"
          previous-text="<" next-text=">" first-text="<<" last-text=">>"
        ></pagination>
      </div>
    </div>
  </div>
</div>
