<div id="wrapper">

  <!-- SideBar directive -->
  <default-sidebar></default-sidebar>

  <!-- Page content -->
  <div id="page-content-wrapper" >
    <div ng-init="StudentList.loadStudents()">
      <h1>Estudiantes</h1>
      <br>
      <br>
      <div>
        <div ng-hide="StudentList.noStudents()">
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" placeholder="Buscar" name="searchInput" type="text">
            </div>
            <div class="col-sm-6">
              <select class="form-control" id="orderSel">
                <option selected>Ordenar Por</option>
                <option value="name">Nombre</option>
                <option value="last_name_1">Apellido1</option>
                <option value="last_name_2">Apellido2</option>
              </select>
            </div>
          </div>
          <br><br>
          <table class="table table-striped custab" id="professorsTable">
            <thead>
              <tr>
                <th>Carne</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="student in StudentList.students">
                <td>{{ student.username }} </td>
                <td>{{ student.name }} </td>
                <td>{{ student.last_name_1 + ' ' + student.last_name_2 }} </td>
                <td>{{ student.email }} </td>
                <td class="text-center">
                  <span class="label"
                    ng-class="{ 'label-success': student.state === 'Activo',
                                'label-warning': student.state === 'Inactivo',
                                'label-default': student.state === 'Bloqueado'}">
                    {{ student.state }}
                  </span>
                </td>
                <td class="text-center">
                  <a class='btn btn-info btn-sm' ng-click="StudentList.seeStudentDetail(student.username)"><span class="glyphicon glyphicon-eye-open"></span></a>
                  <a class="btn btn-danger btn-sm" ng-click="StudentList.delete(student.id)"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p ng-show="StudentList.noStudents()"> No se encontraron resultados </p>
        <br><br>
        <div class="row">
          <div class="form-inline" ng-hide="StudentList.noStudents()">
            <nav class="text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!--
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary center-block" ng-show="pageNumber != 1" ng-click="goToPreviuosPage()"><</button>
            </div>
            <div class="col-sm-2">
              <label>Página {{ pageNumber }}</label>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary center-block" ng-click="goToNextPage()">></button>
            </div>
             -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
