<div id="wrapper">

  <!-- SideBar directive -->
  <default-sidebar></default-sidebar>

  <!-- Page content -->
  <div id="page-content-wrapper" ng-init="StudentDetails.requestForUser()">
      <div class="container">
      <h1>Ver detalle</h1>
      <br><br>
      <form>
        <input class="form-control" placeholder="Nombre" name="" type="text" value="{{ StudentDetails.student.name }}" ng-model="StudentDetails.student.name" required>
        <br>
        <input class="form-control" placeholder="Apellido 1" name="" type="text" value="{{ StudentDetails.student.last_name_1 }}" ng-model="StudentDetails.student.last_name_1" required>
        <br>
        <input class="form-control" placeholder="Apellido 2" name="" type="text" value="{{ StudentDetails.student.last_name_2 }}" ng-model="StudentDetails.student.last_name_2" required>
        <br>
        <input class="form-control" placeholder="Email" name="" type="email" value="{{ StudentDetails.student.email }}" ng-model="StudentDetails.student.email">
        <br>
        <div class="row">
          <div class="col-sm-6">
            <select class="form-control" ng-model="StudentDetails.student.gender" required>
              <option selected disabled> Seleccionar Género</option>
              <option ng-repeat="gender in StudentDetails.genders" value="{{ gender.name }}"> {{ gender.name }}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <input class="form-control" placeholder="Telefono" name="" type="text" value="{{ StudentDetails.student.phone }}" ng-model="StudentDetails.student.phone">
          </div>
        </div>
        <br>
        <input class="form-control" placeholder="Contraseña" name="" type="password" value="{{ StudentDetails.student.password }}" ng-model="StudentDetails.student.password" required>
        <br>
        <div class="row">
          <div class="col-sm-6">
              <label>Fecha de Creación:</label>
          </div>
          <div class="col-sm-6">
            <input class="form-control"  name="" type="text" value="{{ StudentDetails.student.created_at }}" disabled>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6">
              <label>Última Actualización:</label>
          </div>
          <div class="col-sm-6">
            <input class="form-control"  name="" type="text" value="{{ StudentDetails.student.updated_at }}" disabled>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="centerBox">
            <div class="col-sm-6">
              <button class="btn btn-success" type="button" ng-click="StudentDetails.updateInfo()">
                <span class="glyphicon glyphicon-floppy-disk"> Guardar</span></button>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash"> Eliminar</span></button>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
