<div class="navbar-inverse sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse" collapse="Nav.collapsed" ng-click="Nav.collapsed = true">
        <ul class="nav" id="side-menu">
            <li ng-class="{'active' : SideBar.isActive('/Operador/Asistencia')}">
              <a href="#Operador/Asistencia"><i class="glyphicon glyphicon-ok-circle"></i> Asistencia</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Operador/Citas')}">
              <a href="#Operador/Citas"><i class="glyphicon glyphicon-calendar"></i> Citas</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Operador/Reservaciones')}">
              <a href="#Operador/Reservaciones"><i class="glyphicon glyphicon-calendar"></i> Reservaciones</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Operador/Estudiantes')}">
              <a href="#Operador/Estudiantes"><i class="glyphicon glyphicon-user"></i> Estudiantes</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Operador/Docentes')}">
              <a href="#Operador/Docentes"><i class="glyphicon glyphicon-user"></i> Docentes</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Administrador/Operadores')}">
              <a href="#Administrador/Operadores"><i class="glyphicon glyphicon-user"></i> Operadores</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Administrador/Administradores')}">
              <a href="#Administrador/Administradores"><i class="glyphicon glyphicon-user"></i> Administradores</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Operador/Cursos')}">
              <a href="#Operador/Cursos"><i class="glyphicon glyphicon-book"></i> Cursos</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Operador/Grupos')}">
              <a href="#Operador/Grupos"><i class="fa fa-group"></i> Grupos</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Operador/Laboratorios')}">
              <a href="#Operador/Laboratorios"><i class="fa fa-desktop"></i> Laboratorios</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Operador/Software')}">
              <a href="#Operador/Software"><i class="glyphicon glyphicon-floppy-disk"></i> Software</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Administrador/Reportes')}">
              <a href="#Administrador/Reportes"><i class="glyphicon glyphicon-list-alt"></i> Reportes</a>
            </li>
        </ul>
    </div>
</div>
