<div class="navbar-inverse sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse" collapse="Nav.collapsed" ng-click="Nav.collapsed = true">
        <ul class="nav" id="side-menu">
            <li><a href="#/"><i class="glyphicon glyphicon-home"></i> Inicio</a></li>
            <li><a href="#/About"><i class="glyphicon glyphicon-question-sign"></i> Acerca De</a></li>
            <li><a href=""><i class="glyphicon glyphicon-envelope"></i> Contacto</a></li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
