<div class="navbar-inverse sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse" collapse="Nav.collapsed" ng-click="Nav.collapsed = true">
        <ul class="nav" id="side-menu">
              <li ng-class="{'active' : SideBar.isActive('/Login')}">
              <a href="#/"><i class="glyphicon glyphicon-home"></i> Inicio</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Acerca')}">
              <a href="#/Acerca"><i class="glyphicon glyphicon-question-sign"></i> Acerca De</a>
            </li>
            <li ng-class="{'active' : SideBar.isActive('/Contacto')}">
              <a href="#/Contacto"><i class="glyphicon glyphicon-envelope"></i> Contacto</a>
            </li>
        </ul>
    </div>
</div>
