<div class="navbar-inverse sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse" collapse="Nav.collapsed" ng-click="Nav.collapsed = true">
      <ul class="nav" id="side-menu">
          <li ng-class="{'active' : SideBar.isActive('/Operador/Asistencia')}">
            <a href="#Operador/Asistencia"><i class="glyphicon glyphicon-ok-circle"></i> Asistencia</a>
          </li>
          <li ng-class="{'active' : SideBar.isActive('/Operador/Citas')}">
            <a href="#Operador/Citas"><i class="glyphicon glyphicon-calendar"></i> Citas</a>
          </li>
          <li ng-class="{'active' : SideBar.isActive('/Operador/Reservaciones')}">
            <a href=""><i class="glyphicon glyphicon-calendar"></i> Reservaciones</a>
          </li>
          <li ng-class="{'active' : SideBar.isActive('/Operador/Estudiantes')}">
            <a href="#Operador/Estudiantes"><i class="glyphicon glyphicon-user"></i> Estudiantes</a>
          </li>
          <li ng-class="{'active' : SideBar.isActive('/Operador/Docentes')}">
            <a href="#Operador/Docentes"><i class="glyphicon glyphicon-user"></i> Docentes</a>
          </li>
          <li ng-class="{'active' : SideBar.isActive('/Operador/Cursos')}">
            <a href="#Operador/Cursos"><i class="glyphicon glyphicon-book"></i> Cursos</a>
          </li>
          <li ng-class="{'active' : SideBar.isActive('/Operador/Grupos')}">
              <a href="#Operador/Grupos"><i class="glyphicon glyphicon-book"></i> Grupos</a>
          </li>
          <li ng-class="{'active' : SideBar.isActive('/Operador/Laboratorios')}">
            <a href="Operador/Laboratorios"><i class="glyphicon glyphicon-th-list"></i> Laboratorios</a>
          </li>
          <li ng-class="{'active' : SideBar.isActive('/Operador/Software')}"><li>
            <a href="Operador/Software"><i class="glyphicon glyphicon-floppy-disk"></i> Software</a>
          </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
