<div class="wrap">

  <!-- SideBar directive -->
  <div class="left-panel">
    <administrators-sidebar></administrators-sidebar>
  </div>

  <!-- Page content -->
  <div class="center-panel">
    <h2>Operadores</h2>
    <hr>
    <ol class="breadcrumb">
      <li><a href="#/">Inicio</a></li>
      <li class="active">Operadores</li>
    </ol>
    <div class="table-search" style="margin-bottom: 3%;">
      <div class="row">
        <div class="col-md-10 col-xs-9">
          <form class="form-horizontal">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input class="form-control" placeholder="Buscar" name="searchInput" type="text" ng-change="OperatorList.search()" ng-model="OperatorList.searched.full_name">
            </div>
            <div class="input-group">
              <a href="" ng-click="OperatorList.toggleAdvanceSearch()">Búsqueda Avanzada</a>
            </div>
            <button type="submit" name="button" ng-click="OperatorList.search()" hidden></button>
          </form>
        </div>
        <div class="col-md-2 col-xs-3">
          <a href="#Administrador/Operadores/Agregar" class="btn btn-block btn-success" ng-click="OperatorList.createOperator()">
            <i class="glyphicon glyphicon-plus"></i>
            <span class="hidden-xs">Crear</span>
          </a>
        </div>
      </div>
      <div class="row" ng-show="OperatorList.advanceSearch">
        <div class="col-md-12">
          <form class="form-inline advanced-search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Usuario" ng-model="OperatorList.searched.username">
            </div>
            <div class="form-group" style="width: 17%">
              <ui-select id="state" ng-model="OperatorList.searched.state" search-enabled="false">
                <ui-select-match placeholder="Estado" allow-clear="true">
                  {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="state in OperatorList.states">
                  <span ng-bind-html="state.name"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="form-group" style="width: 17%">
              <ui-select id="period" ng-model="OperatorList.searched.period" style="width: 100%">
                <ui-select-match placeholder="Periodo" allow-clear="true">
                  {{$select.selected.value + ' ' + $select.selected.type}}
                </ui-select-match>
                <ui-select-choices repeat="period in OperatorList.periods | filter: $select.search" group-by="'type'">
                  <span ng-bind-html="period.value | highlight: $select.search"></span>
                  <span ng-bind-html="period.type | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" id="exampleInputEmail2" placeholder="Año" min="2000" ng-model="OperatorList.searched.year">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default" ng-click="OperatorList.search()">
                <i class="glyphicon glyphicon-search"></i> Buscar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <table class="table table-striped" ng-show="OperatorList.isLoaded() && !OperatorList.isEmpty()">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Periodo</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="operator in OperatorList.operators">
          <td>{{ operator.full_name }}</td>
          <td>{{ operator.username }}</td>
          <td>{{ operator.period.value + ' ' + operator.period.type + ' ' + operator.period.year }}</td>
          <td>
            <span class="label"
              ng-class="{ 'label-success': operator.state === 'Activo',
                          'label-danger': operator.state === 'Inactivo'}" >
              {{ operator.state }}
            </span>
          </td>
          <td>
            <a href="{{ '#Administrador/Operadores/' + operator.id }}" class='btn btn-info btn-sm'>
              <span class="glyphicon glyphicon-eye-open" ng-click="OperatorList.open(operator.id)"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-trash" ng-click="OperatorList.delete(operator.id)"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <p ng-show="OperatorList.isLoaded() && OperatorList.isEmpty()"> No se encontraron resultados </p>
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <pagination
          ng-change="OperatorList.loadPage()" ng-model="OperatorList.page" items-per-page="OperatorList.limit"
          total-items="OperatorList.totalItems" max-size="5" boundary-links="true" rotate="true"
          previous-text="<" next-text=">" first-text="<<" last-text=">>"
        ></pagination>
      </div>
    </div>
  </div>
</div>
