<div>
  <h2>Grupo</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Operador/Grupos">Grupos</a></li>
    <li class="active">Detalle</li>
  </ol>
  <form name="updateGroupForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="professor">* Docente</label>
          <input id="professor" name="professor" class="form-control" type="text" placeholder="Docente" ng-model="GroupDetail.professor_name" typeahead="professor.full_name for professor in GroupDetail.getProfessors($viewValue)" typeahead-editable="false" typeahead-on-select="GroupDetail.setProfessor($item)" ng-blur="GroupDetail.checkProfessor()" required>
          <p class="help-block" ng-if="updateGroupForm.professor.$error.required">Docente requerido.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="course">* Curso</label>
          <input id="course" name="course" class="form-control" type="text" placeholder="Curso" ng-model="GroupDetail.course_name" typeahead="course.name for course in GroupDetail.getCourses($viewValue)" typeahead-editable="false" typeahead-on-select="GroupDetail.setCourse($item)" ng-blur="GroupDetail.checkCourse()" required>
          <p class="help-block" ng-if="updateGroupForm.course.$error.required">Curso requerido.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="period">* Periodo</label>
          <ui-select id="period" ng-model="GroupDetail.group.period">
            <ui-select-match placeholder="{{$select.selected.value + ' ' + $select.selected.type}}">
              {{$select.selected.value + ' ' + $select.selected.type}}
            </ui-select-match>
            <ui-select-choices repeat="period in GroupDetail.periods | filter: $select.search" group-by="'type'">
              <span ng-bind-html="period.value | highlight: $select.search"></span>
              <span ng-bind-html="period.type | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="year">* Año</label>
          <input type="number" min="2000" class="form-control" id="year" name="year" ng-model="GroupDetail.year" required>
          <p class="help-block" ng-if="updateGroupForm.year.$error.required">Año requerido.</p>
          <p class="help-block" ng-if="updateGroupForm.year.$error.number">Ingrese un número.</p>
          <p class="help-block" ng-if="updateGroupForm.year.$error.min">Ingrese un año posterior a 2000.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group" show-errors>
        <label for="number">* Número</label>
          <input type="number" class="form-control" min="0" id="number" name="number" placeholder="Número" ng-model="GroupDetail.group.number" required>
          <p class="help-block" ng-if="updateGroupForm.number.$error.required">Número de grupo requerido.</p>
          <p class="help-block" ng-if="updateGroupForm.number.$error.number  || updateGroupForm.number.$error.min">Ingrese un número positivo.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="created_at" class="control-label">Fecha Creación</label>
          <input type="text" class="form-control" id="created_at" name="created_at" placeholder="Fecha Creación" ng-value="GroupDetail.group.created_at | date : 'EEEE d \'de\' MMMM \'del\' y. h:mm:ss a'" readonly></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="updated_at" class="control-label">Fecha Actualización</label>
          <input type="text" class="form-control" id="updated_at" name="updated_at" placeholder="Fecha Actualización" ng-value="GroupDetail.group.updated_at | date : 'EEEE d \'de\' MMMM \'del\' y. h:mm:ss a'" readonly>
        </div>
      </div>
    </div>
    <h4><b>Lista de estudiantes</b></h4>
    <div class="row">
      <div class="col-md-10 col-xs-10">
        <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="Agregar Estudiante (Carné)" ng-model="GroupDetail.student_username">
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        <button type="button" class="btn btn-success btn-block" ng-click="GroupDetail.searchStudent()">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Agregar</span>
        </button>
      </div>
    </div>
    <div class="table-responsive">
    <table class="table table-striped" ng-show="GroupDetail.students.length > 0">
      <thead>
        <tr>
          <th>Carné</th>
          <th>Nombre</th>
          <th style="text-align: center">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in GroupDetail.slicedStudents">
          <td>{{ student.username }}</td>
          <td>{{ student.full_name }}</td>
          <td style="text-align: center">
            <a class='btn btn-info btn-sm' href="{{'#Operador/Estudiantes/' + student.username}}">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm" ng-click="GroupDetail.deleteStudent(student.id)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" ng-show="GroupDetail.students.length > GroupDetail.limit">
    <div class="col-xs-12 col-md-12 pagination">
      <pagination
        ng-model="GroupDetail.page" items-per-page="GroupDetail.limit" total-items="GroupDetail.students.length"
        ng-change="GroupDetail.sliceStudents()" max-size="5" boundary-links="true" rotate="true"
        previous-text="<" next-text=">" first-text="<<" last-text=">>">
      </pagination>
    </div>
  </div>
  <div class="row" style="margin-top: 3%;">
      <div class="col-xs-6 col-md-6 text-center">
        <button type="submit" class="btn btn-lg btn-primary" ng-click="GroupDetail.update()" ng-disabled="updateGroupForm.$invalid">
          <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
        </button>
      </div>
      <div class="col-xs-6 col-md-6 text-center">
        <button type="button" class="btn btn-lg btn-danger" ng-click="GroupDetail.delete()">
          <i class="glyphicon glyphicon-trash"></i> Eliminar
        </button>
      </div>
    </div>
  </form>
</div>
