<div>
  <h2>Grupos</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li class="active">Grupos</li>
  </ol>
  <div class="table-search" style="margin-bottom: 3%;">
    <div class="row">
      <div class="col-md-10 col-xs-9">
        <form autocomplete="off" class="form-horizontal">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="Buscar por curso" name="searchInput" type="text" ng-change="GroupList.search()" ng-model="GroupList.searched.name">
          </div>
          <div class="input-group">
            <a href="" ng-click="GroupList.toggleAdvanceSearch()">Búsqueda Avanzada</a>
          </div>
          <button type="submit" name="button" hidden></button>
        </form>
      </div>
      <div class="col-md-2 col-xs-3">
        <a href="#Operador/Grupos/Agregar" class="btn btn-block btn-success">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Crear</span>
        </a>
      </div>
    </div>
    <div class="row" collapse="!GroupList.advanceSearch">
      <div class="col-md-12">
        <form autocomplete="off" class="form-inline advanced-search">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Número" ng-model="GroupList.searched.number">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Profesor" ng-model="GroupList.searched.professor.name">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <ui-select id="period" ng-model="GroupList.searched.period">
                      <ui-select-match placeholder="Periodo" allow-clear="true">
                        {{$select.selected.value + ' ' + $select.selected.type}}
                      </ui-select-match>
                      <ui-select-choices repeat="period in GroupList.periods" group-by="'type'">
                        <span ng-bind-html="period.value + ' ' + period.type"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <ui-select id="state" ng-model="GroupList.searched.state">
                      <ui-select-match placeholder="Estado" allow-clear="true">
                        {{$select.selected.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="state in GroupList.states">
                        <span ng-bind-html="state.name"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="GroupList.search()">
                  <i class="glyphicon glyphicon-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div cg-busy="GroupList.promise"></div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Curso</th>
          <th>Profesor</th>
          <th>Periodo</th>
          <th>Estado</th>
          <th style="text-align: center">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="group in GroupList.groups">
          <td>{{ group.number }}</td>
          <td>{{ group.course.name }}</td>
          <td>{{ group.professor.full_name }}</td>
          <td>{{ group.period.value + ' ' +  group.period.type + ' ' + group.period.year }}</td>
          <td>
            <span class="label"
              ng-class="{ 'label-success': group.state === 'Activo',
                          'label-danger': group.state === 'Inactivo'}" >
              {{ group.state }}
            </span>
          </td>
          <td style="text-align: center">
            <a class='btn btn-info btn-sm' ng-click="GroupList.open(group.id)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm" ng-click="GroupList.delete(group.id)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="GroupList.isLoaded() && GroupList.isEmpty()">No se encontraron resultados.</p>
  <br>
  <div class="row" ng-show="GroupList.totalPages > 1">
    <div class="col-xs-12 col-md-12 pagination">
      <pagination ng-if="GroupList.totalItems"
        ng-change="GroupList.loadPage()" ng-model="GroupList.page" items-per-page="GroupList.limit"
        total-items="GroupList.totalItems" max-size="5" boundary-links="true" rotate="true"
        previous-text="<" next-text=">" first-text="<<" last-text=">>"
      ></pagination>
    </div>
  </div>
</div>
