<div>
  <h2>Agregar Grupo</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Operador/Grupos">Grupos</a></li>
    <li class="active">Agregar</li>
  </ol>
  <form autocomplete="off" name="createGroupForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="professor">* Docente</label>
          <input id="professor" name="professor" class="form-control" type="text" placeholder="Docente" ng-model="GroupCreate.professor_name" typeahead="professor.full_name for professor in GroupCreate.getProfessors($viewValue)" typeahead-editable="false" typeahead-on-select="GroupCreate.setProfessor($item)" ng-blur="GroupCreate.checkProfessor()" required>
          <p class="help-block" ng-if="createGroupForm.professor.$error.required">Docente requerido.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" show-errors>
          <label for="course">* Curso</label>
          <input id="course" name="course" class="form-control" type="text" placeholder="Curso" ng-model="GroupCreate.course_name" typeahead="course.name for course in GroupCreate.getCourses($viewValue)" typeahead-editable="false" typeahead-on-select="GroupCreate.setCourse($item)" ng-blur="GroupCreate.checkCourse()" required>
          <p class="help-block" ng-if="createGroupForm.course.$error.required">Curso requerido.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="period">* Periodo</label>
          <ui-select id="period" ng-model="GroupCreate.period">
            <ui-select-match placeholder="{{$select.selected.value + ' ' + $select.selected.type}}">
              {{$select.selected.value + ' ' + $select.selected.type}}
            </ui-select-match>
            <ui-select-choices repeat="period in GroupCreate.periods | filter: $select.search" group-by="'type'">
              <span ng-bind-html="period.value | highlight: $select.search"></span>
              <span ng-bind-html="period.type | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="year">* Año</label>
          <ui-select id="year" ng-model="GroupCreate.year">
            <ui-select-match placeholder="{{GroupCreate.year}}">
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices repeat="year in [{{GroupCreate.currentYear-1}}, {{GroupCreate.currentYear}}, {{GroupCreate.currentYear+1}}] | filter: $select.search">
              <span ng-bind-html="year | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="form-group" show-errors>
        <label for="number">* Número</label>
          <input type="number" min="0" class="form-control" id="number" name="number" placeholder="Número" ng-model="GroupCreate.group.number" required>
          <p class="help-block" ng-if="createGroupForm.number.$error.required">Número de grupo requerido.</p>
          <p class="help-block" ng-if="createGroupForm.number.$error.number  || createGroupForm.number.$error.min">Ingrese un número positivo.</p>
        </div>
      </div>
    </div>
    <h4><b>Lista de estudiantes</b></h4>
    <div class="row">
      <div class="col-md-10 col-xs-10">
        <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="Buscar Estudiante (Carné)" ng-model="GroupCreate.student_username">
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        <button type="button" class="btn btn-success btn-block" ng-click="GroupCreate.searchStudent()">
          <i class="glyphicon glyphicon-plus"></i>
          <span class="hidden-xs">Agregar</span>
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" ng-show="GroupCreate.students.length > 0">
        <thead>
          <tr>
            <th>Carné</th>
            <th>Nombre</th>
            <th style="text-align: center">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in GroupCreate.slicedStudents">
            <td>{{ student.username }}</td>
            <td>{{ student.full_name }}</td>
            <td style="text-align: center">
              <a class='btn btn-info btn-sm' href="{{'#Operador/Estudiantes/' + student.username}}">
                <span class="glyphicon glyphicon-eye-open"></span>
              </a>
              <a href="" class="btn btn-danger btn-sm" ng-click="GroupCreate.deleteStudent(student.id)">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" ng-show="GroupCreate.students.length > GroupCreate.limit">
      <div class="col-xs-12 col-md-12 pagination">
        <pagination
          ng-model="GroupCreate.page" items-per-page="GroupCreate.limit" total-items="GroupCreate.students.length"
          ng-change="GroupCreate.sliceStudents()" max-size="5" boundary-links="true" rotate="true"
          previous-text="<" next-text=">" first-text="<<" last-text=">>">
        </pagination>
      </div>
    </div>
    <div class="row" style="margin-top: 3%;">
      <div class="col-sm-12 col-md-12 text-center">
        <button type="submit" class="btn btn-lg btn-success" ng-click="GroupCreate.create()" ng-disabled="createGroupForm.$invalid">
          <i class="glyphicon glyphicon-plus"></i> Crear
        </button>
      </div>
    </div>
  </form>
</div>
