<div>
  <h2>Asistencia</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li class="active">Asistencia</li>
  </ol>
  <div class="row" style="margin-bottom: 2%;">
    <div class="col-md-12">
      <form class="form-horizontal">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group" style="padding-bottom: 2%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-th-list"></i></span>
                  <ui-select id="laboratory" ng-model="AppointmentCurrent.selected_laboratory">
                    <ui-select-match placeholder="Laboratorio">
                      {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="laboratory in AppointmentCurrent.laboratories">
                      <span ng-bind-html="laboratory"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="col-md-4">
                <a href="">
                  <div class="input-group" style="padding-bottom: 2%;">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-calendar"></i></span>
                    <datepicker-popup class="form-control" ng-model="AppointmentCurrent.selected_date"  ng-change="AppointmentCurrent.loadHours()" show-weeks="false" ng-click="AppointmentCurrent.openDatePicker()" date-disabled="AppointmentCurrent.isDisabledDate(date, mode)" is-open="AppointmentCurrent.opened" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" style="background-color: white;" readonly>{{ AppointmentCurrent.selected_date | date: 'fullDate' }}</datepicker-popup>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <div class="input-group" style="padding-bottom: 2%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
                  <ui-select id="hour" ng-model="AppointmentCurrent.selected_hour">
                    <ui-select-match placeholder="Hora">
                      {{$select.selected | date: 'hh:mm a'}}
                    </ui-select-match>
                    <ui-select-choices repeat="hour in AppointmentCurrent.hours">
                      <span ng-bind-html="hour | date: 'hh:mm a'"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-default btn-block" ng-click="AppointmentCurrent.loadAppointments()">
              <i class="glyphicon glyphicon-search"></i> Buscar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" ng-show="true">
      <thead>
        <tr>
          <th>Carné</th>
          <th>Estudiante</th>
          <th>Software</th>
          <th style="text-align: center">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in AppointmentCurrent.appointments">
          <td>{{ app.student.username }}</td>
          <td>{{ app.student.full_name }}</td>
          <td>{{ app.software.name }}</td>
          <td style="text-align: center">
            <a class='btn btn-success' ng-class="{'active font-bold': app.attendance && app.state == 'Finalizada'}" ng-click="AppointmentCurrent.mark(app.id, true)">
              <span class="glyphicon glyphicon-ok"></span> Presente
            </a>
            <a class="btn btn-danger" ng-class="{'active font-bold': !app.attendance && app.state == 'Finalizada'}" ng-click="AppointmentCurrent.mark(app.id, false)">
              <span class="glyphicon glyphicon-remove"></span> Ausente
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="AppointmentCurrent.isLoaded() && AppointmentCurrent.isEmpty()">No se encontraron resultados.</p>
  <br>
</div>
