<div>
  <h2>Agregar Cita</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Operador/Citas">Citas</a></li>
    <li class="active">Agregar</li>
  </ol>
  <form autocomplete="off">
  <div class="row">
      <div class="col-md-10 col-xs-10">
        <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="Estudiante (carné)" ng-model="AppointmentCreate.studentUsername">
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        <button type="submit" class="btn btn-default btn-block" ng-click="AppointmentCreate.searchStudent()">
          <i class="glyphicon glyphicon-search"></i>
          <span class="hidden-xs">Buscar</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">Estudiante</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" ng-model="AppointmentCreate.student.full_name" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Fechas Disponiles</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-calendar"></i></span>
            <ui-select id="date" ng-model="AppointmentCreate.selectedDate" on-select="AppointmentCreate.setAvailableHours()" ng-disabled="!AppointmentCreate.student.username">
              <ui-select-match placeholder="Fecha">
                {{$select.selected.day | date : 'fullDate'}}
              </ui-select-match>
              <ui-select-choices repeat="date in AppointmentCreate.availableDates | filter: $select.search">
                <span ng-bind-html="date.day | date : 'fullDate' | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Horas Disponibles</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
            <ui-select id="hour" ng-model="AppointmentCreate.selectedHour" on-select="AppointmentCreate.changeLaboratory()" ng-disabled="!AppointmentCreate.student.username">
              <ui-select-match placeholder="Hora">
                {{$select.selected.fullDate | date: 'hh:mm a'}}
              </ui-select-match>
              <ui-select-choices repeat="hour in AppointmentCreate.availableHours | filter: $select.search">
                <span ng-bind-html="hour.fullDate | date : 'hh:mm a' | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="course">Grupo</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-group"></i></span>
            <ui-select id="group" ng-model="AppointmentCreate.group" ng-disabled="!AppointmentCreate.student.username">
              <ui-select-match placeholder="Grupo">
                {{'[#' + $select.selected.number + '] ' + $select.selected.course.name}}
              </ui-select-match>
              <ui-select-choices repeat="group in AppointmentCreate.groups | filter: $select.search">
                <span ng-bind-html="'[#' + group.number + '] ' + group.course.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lab">Laboratorio</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-desktop"></i></span>
            <ui-select id="lab" ng-model="AppointmentCreate.selectedLaboratory" ng-disabled="!AppointmentCreate.student.username">
              <ui-select-match placeholder="Laboratorio">
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="lab in AppointmentCreate.laboratories | filter: $select.search">
                <span ng-bind-html="lab.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="software">Software</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-floppy-disk"></i></span>
            <input class="form-control" placeholder="Software" name="searchInput" type="text" typeahead="'[' + software.code + '] ' + software.name for software in AppointmentCreate.searchSoftware($viewValue)" typeahead-on-select="AppointmentCreate.setSoftware($item)" typeahead-editable="false" ng-model="AppointmentCreate.selectedSoftware">
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 3%;">
      <div class="col-md-12 col-xs-12 text-center">
        <button type="submit" class="btn btn-lg btn-success" ng-click="AppointmentCreate.create()" ng-disabled="!AppointmentCreate.fieldsReady()">
          <i class="glyphicon glyphicon-plus"></i> Crear
        </button>
      </div>
    </div>
  </form>
</div>
