<div>
  <h2>Ver Cita</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Operador/Citas">Citas</a></li>
    <li class="active">Detalle</li>
  </ol>
  <form>
  <div class="row">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Estudiante</label>
          <input class="form-control" type="text" ng-model="AppointmentDetail.student.full_name" readonly>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lab" class="control-label">* Laboratorio</label>
          <ui-select id="lab" ng-model="AppointmentDetail.laboratory.name">
            <ui-select-match placeholder="{{AppointmentDetail.laboratory.name}}">
              {{ $select.selected}}
            </ui-select-match>
            <ui-select-choices repeat="lab in AppointmentDetail.laboratories">
              <span ng-bind-html="lab.name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Fecha</label>
          <input ui-date class="form-control" id="date" placeholder="Seleccionar" name="date" ng-model="AppointmentDetail.date">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Hora</label>
          <input type="text" class="form-control" id="hour" name="hour" ng-model="AppointmentDetail.hour" ui-mask="99:99">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="course">* Estado</label>
          <ui-select id="course" ng-model="AppointmentDetail.appointment.state">
            <ui-select-match placeholder="{{$select.selected}}">
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices repeat="state in AppointmentDetail.states ">
              <span ng-bind-html="state.name "></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="software">* Software</label>
          <ui-select id="software" ng-model="AppointmentDetail.software.code">
            <ui-select-match placeholder="{{AppointmentDetail.software.code}}">
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices repeat="sf in AppointmentDetail.software_list | filter: $select.search">
              <span ng-bind-html="sf.code | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    
    <div class="row" style="margin-top: 3%;">
      <div class="col-md-6 text-center">
        <button type="submit" class="btn btn-lg btn-info" ng-click="AppointmentDetail.update()">
          <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
        </button>
      </div>
      <div class="col-md-6 text-center">
        <button type="submit" class="btn btn-lg btn-danger" ng-click="AppointmentDetail.delete()">
          <i class="glyphicon glyphicon-trash"></i> Eliminar
        </button>
      </div>
    </div>
  </form>
</div>
