<div>
  <h2>Agregar Cita</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li><a href="#Operador/Citas">Citas</a></li>
    <li class="active">Agregar</li>
  </ol>
  <form>
  <div class="row">
      <div class="col-md-10 col-xs-10">
        <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="Buscar Estudiante (Carné)" ng-model="AppointmentCreate.student_username">
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        <button type="submit" class="btn btn-default btn-block" ng-click="AppointmentCreate.searchStudent()">
          <i class="glyphicon glyphicon-search"></i>
          <span class="hidden-xs">Buscar</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">Estudiante</label>
          <input class="form-control" type="text" ng-model="AppointmentCreate.student.full_name" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Fechas Disponiles</label>
          <ui-select id="course" ng-model="AppointmentCreate.selected_date" on-select="AppointmentCreate.setAvailableHours()">
            <ui-select-match placeholder="{{$select.selected.day}}">
              {{$select.selected.day}}
            </ui-select-match>
            <ui-select-choices repeat="date in AppointmentCreate.available_dates | filter: $select.search">
              <span ng-bind-html="date.day | date : 'fullDate' | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">* Horas Disponibles</label>
          <ui-select id="course" ng-model="AppointmentCreate.selected_hour">
            <ui-select-match placeholder="{{$select.selected}}">
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices repeat="hour in AppointmentCreate.available_hours | filter: $select.search">
              <span ng-bind-html="hour | date : 'mediumTime' | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="course">* Grupo</label>
          <ui-select id="course" ng-model="AppointmentCreate.group">
            <ui-select-match placeholder="{{$select.selected.course.name}}">
              {{$select.selected.course.name}}
            </ui-select-match>
            <ui-select-choices repeat="group in AppointmentCreate.groups | filter: $select.search">
              <span ng-bind-html="group.course.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="software">* Software</label>
          <ui-select id="software" ng-model="AppointmentCreate.software">
            <ui-select-match placeholder="{{$select.selected.code}}">
              {{$select.selected.code}}
            </ui-select-match>
            <ui-select-choices repeat="sf in AppointmentCreate.software_list | filter: $select.search">
              <span ng-bind-html="sf.code | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="lab">* Laboratorio</label>
          <ui-select id="lab" ng-model="AppointmentCreate.laboratory">
            <ui-select-match placeholder="{{$select.selected.name}}">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="lab in AppointmentCreate.laboratories | filter: $select.search">
              <span ng-bind-html="lab.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    
    <div class="row" style="margin-top: 3%;">
      <div class="col-md-2 col-md-offset-5 col-xs-2 col-xs-offset-5">
        <button type="submit" class="btn btn-lg btn-success" ng-click="AppointmentCreate.create()" ng-disabled="!AppointmentCreate.fieldsReady()">
          <i class="glyphicon glyphicon-plus"></i> Agregar
        </button>
      </div>
    </div>
  </form>
</div>
