<div>
  <h2>Asistencia</h2>
  <hr>
  <ol class="breadcrumb">
    <li><a href="#/">Inicio</a></li>
    <li class="active">Asistencia</li>
  </ol>
  <div class="row" style="margin-bottom: 2%;">
    <div class="col-md-12">
      <form autocomplete="off" class="form-horizontal">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group" style="padding-bottom: 2%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-th-list"></i></span>
                  <ui-select id="laboratory" ng-model="AppointmentCurrent.selected_laboratory" ng-change="AppointmentCurrent.loadAppointments()">
                    <ui-select-match placeholder="Laboratorio">
                      {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="laboratory in AppointmentCurrent.laboratories">
                      <span ng-bind-html="laboratory"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="col-md-4">

                <div class="form-group datepicker-popup">
                  <div class="input-group" style="padding-bottom: 2%;">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-calendar"></i></span>
                    <input class="form-control" placeholder="Fecha"
                           datepicker-popup="mediumDate"
                           show-weeks="false"
                           max-date="AppointmentCurrent.today"
                           is-open="AppointmentCurrent.opened"
                           ng-model="AppointmentCurrent.selected_date"
                           ng-click="AppointmentCurrent.openDatePicker($event)"
                           ng-change="AppointmentCurrent.loadHours()"
                           date-disabled="AppointmentCurrent.isDisabledDate(date, mode)"
                           close-text="Cerrar" clear-text="Limpiar" current-text="Hoy"/>
                  </div>
                </div>

              </div>
              <div class="col-md-4">
                <div class="input-group" style="padding-bottom: 2%;">
                  <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-time"></i></span>
                  <ui-select id="hour" ng-model="AppointmentCurrent.selected_hour" ng-change="AppointmentCurrent.loadAppointments()">
                    <ui-select-match placeholder="Hora">
                      {{$select.selected | date: 'hh:mm a'}}
                    </ui-select-match>
                    <ui-select-choices repeat="hour in AppointmentCurrent.hours">
                      <span ng-bind-html="hour | date: 'hh:mm a'"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div cg-busy="AppointmentCurrent.promise"></div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Carné</th>
          <th>Estudiante</th>
          <th>Software</th>
          <th style="text-align: center">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in AppointmentCurrent.appointments">
          <td>{{ app.student.username }}</td>
          <td>{{ app.student.full_name }}</td>
          <td>{{ app.software.name }}</td>
          <td style="text-align: center">
            <a class='btn btn-success' ng-class="{'active font-bold': app.attendance && app.state == 'Finalizada'}" ng-click="AppointmentCurrent.mark(app.id, true)">
              <span class="glyphicon glyphicon-ok"></span> Presente
            </a>
            <a class="btn btn-danger" ng-class="{'active font-bold': !app.attendance && app.state == 'Finalizada'}" ng-click="AppointmentCurrent.mark(app.id, false)">
              <span class="glyphicon glyphicon-remove"></span> Ausente
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="AppointmentCurrent.isLoaded() && AppointmentCurrent.isEmpty()">No se encontraron resultados.</p>
  <br>
</div>
